section.nst-module__call-to-action.ibm-alternate-background
  .ibm-columns
    .ibm-col-1-1.nst-text-center.cta-col
      h3.ibm-h3.nst-900= data.action.ctaLeadIn
      ul.ibm-link-list
        li
          a(href="#{data.action.ctaUrl}", rel="external").ibm-btn-pri.nst-btn.nst-btn-orange= data.action.cta
