section.nst-module__call-to-action.ibm-padding-top-r2.ibm-padding-bottom-r2.nst_mlp-m090-m-01-call-to-action-button(class=isGray==true?"ibm-background-neutral-white-30":"")
  .ibm-columns
    .ibm-col-5-3.ibm-col-medium-1-1.ibm-center-block.ibm-center
      p.ibm-light= data.action.ctaLeadIn
      p.ibm-btn-row.ibm-padding-top-1
        a(href="#{data.action.ctaUrl}").ibm-btn-pri.ibm-btn-orange-50= data.action.cta
