.section{
  padding-top: 30px;
}

.color1{
  border-bottom: 2px solid #e3686c;
}
.color2{
  border-bottom: 2px solid #62aff1;
}
.color3{
  border-bottom: 2px solid #00d9c1;
}
.color4{
  border-bottom: 2px solid #8cd211;
}
.color5{
  border-bottom: 2px solid #4b6165;
}

#wrapper{
  margin-top: 30px;
  margin-left: 50px;
}

.selected{
  box-shadow: 0 0 3px 3px #5cb85c;
}

.stepDiv{
  margin-left: 20px !important;
  text-align: left !important;
}
