.section{
  padding-top: 30px;
}

.color1{
  border-bottom: 2px solid #e3686c;
}
.color2{
  border-bottom: 2px solid #62aff1;
}
.color3{
  border-bottom: 2px solid #8cd211;
}
.color4{
  border-bottom: 2px solid #4b6165;
}
