/**
 * Shared
 */
@media only screen and (max-width: 579px) {
  .ibm-landing-page .nst-full-width-gmobile {
    width: 100%; } }

@media only screen and (min-width: 1480px) {
  .ibm-landing-page .nst-push-6-1 {
    margin-left: 250px; } }

@media only screen and (max-width: 1479px) {
  .ibm-landing-page .nst-push-6-1 {
    margin-left: 210px; } }

@media only screen and (max-width: 1239px) {
  .ibm-landing-page .nst-push-6-1 {
    margin-left: 170px; } }

@media only screen and (max-width: 999px) {
  .ibm-landing-page .nst-push-6-1 {
    margin-left: 130px; } }

@media only screen and (max-width: 759px) {
  .ibm-landing-page .nst-push-6-1 {
    margin-left: 10px; } }

@media only screen and (min-width: 580px) and (max-width: 759px) {
  .ibm-landing-page .nst-full-width-g540 {
    width: 520px; } }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-landing-page .nst-half-width-g720 {
    width: 340px; } }

@media only screen and (min-width: 580px) and (max-width: 759px) {
  .ibm-landing-page .nst-half-width-g540 {
    width: 250px; } }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-landing-page .nst-full-width-g720 {
    width: 700px; } }

@media only screen and (min-width: 580px) and (max-width: 759px) {
  .ibm-landing-page .nst-full-width-g720 {
    width: 520px; } }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-landing-page .nst-6-4-g720 {
    width: 460px; } }

@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-landing-page .nst-6-4-g960 {
    width: 620px; } }

@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-landing-page .nst-6-5-g960 {
    width: 780px; } }

@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-landing-page .nst-full-width-g960 {
    width: 940px; } }

@media only screen and (min-width: 1240px) and (max-width: 1479px) {
  .ibm-landing-page .nst-full-width-g1200 {
    width: 1180px; } }

@media only screen and (min-width: 1480px) {
  .ibm-landing-page .nst-full-width-g1440 {
    width: 100%; } }

@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-landing-page .nst-5-3-g960 {
    width: 556px; } }

@media only screen and (max-width: 579px) {
  .nst-stack-space-mobile {
    margin-bottom: 20px; } }

@media only screen and (max-width: 759px) {
  .nst-stack-space-g540 {
    margin-bottom: 20px; } }

@media only screen and (max-width: 999px) {
  .nst-icon-visible-g720.ibm-icon-nolink {
    padding-left: 0 !important; }
  .nst-icon-visible-g720:before {
    content: none; } }

@media only screen and (min-width: 0px) and (max-width: 579px) {
  .nst-mobile-line {
    display: block; } }

@media only screen and (max-width: 999px) {
  .nst-hidden-g720 {
    display: none; } }

/*****************
v18 overrides
*****************/
#ibm-social-tools {
  display: none; }

.ibm-landing-page #ibm-pcon {
  margin-top: 0; }

#ibm-content-body {
  padding-top: 0; }

#ibm-content-main {
  padding-bottom: 0; }

#ibm-mast-minimenu-list {
  position: absolute;
  z-index: 99999999; }

[data-widget="videoplayer"] .ibm-item-note {
  display: none; }

.ibm-landing-page #ibm-content-body {
  padding-top: 0; }

#ibm-universal-nav nav {
  height: 100%; }

#ibm-leadspace-head {
  border-bottom: none; }

.ibm-type p, .ibm-type ul, .ibm-type a, .ibm-type .ibm-h1, .ibm-type .ibm-h2, .ibm-type .ibm-h3, .ibm-type .ibm-h4, .ibm-type .ibm-h5, .ibm-type .ibm-h6 {
  font-family: "HelveticaNeue-Light", "HelvLightIBM", Arial, sans-serif; }
  .ibm-type p.nst-bold, .ibm-type ul.nst-bold, .ibm-type a.nst-bold, .ibm-type .ibm-h1.nst-bold, .ibm-type .ibm-h2.nst-bold, .ibm-type .ibm-h3.nst-bold, .ibm-type .ibm-h4.nst-bold, .ibm-type .ibm-h5.nst-bold, .ibm-type .ibm-h6.nst-bold {
    font-family: "HelveticaNeue-Bold", "HelvBoldIBM", Arial, sans-serif; }

.nst-text-center {
  text-align: center; }

.nst-margin-top-none {
  margin-top: 0; }

.nst-margin-top-quarter {
  margin-top: 0.25em; }

.nst-margin-top-half {
  margin-top: 0.5em; }

.nst-margin-top-one {
  margin-top: 1em; }

.nst-margin-top-two {
  margin-top: 2em; }

.nst-margin-right-none {
  margin-right: 0; }

.nst-margin-right-quarter {
  margin-right: 0.25em; }

.nst-margin-right-half {
  margin-right: 0.5em; }

.nst-margin-right-one {
  margin-right: 1em; }

.nst-margin-right-two {
  margin-right: 2em; }

.nst-margin-right-four {
  margin-right: 4em; }

.nst-margin-right-five {
  margin-right: 5em; }

.nst-padding-top-none {
  padding-top: 0; }

.nst-padding-top-quarter {
  padding-top: 0.25em; }

.nst-padding-top-half {
  padding-top: 0.5em; }

.nst-padding-top-one {
  padding-top: 1em; }

.nst-padding-top-two {
  padding-top: 2em; }

.nst-padding-top-four {
  padding-top: 4em; }

.nst-padding-top-five {
  padding-top: 5em; }

.nst-padding-top-six {
  padding-top: 6em; }

.nst-padding-top-seven {
  padding-top: 7em; }

.nst-padding-top-eight {
  padding-top: 8em; }

.nst-padding-top-ten {
  padding-top: 10em; }

.nst-padding-bottom-none {
  padding-bottom: 0; }

.nst-padding-bottom-quarter {
  padding-bottom: 0.25em; }

.nst-padding-bottom-half {
  padding-bottom: 0.5em; }

.nst-padding-bottom-one {
  padding-bottom: 1em; }

.nst-padding-bottom-two {
  padding-bottom: 2em; }

.nst-padding-bottom-four {
  padding-bottom: 4em; }

.nst-padding-bottom-five {
  padding-bottom: 5em; }

.nst-padding-bottom-six {
  padding-bottom: 6em; }

.nst-padding-bottom-seven {
  padding-bottom: 7em; }

.nst-padding-bottom-eight {
  padding-bottom: 8em; }

.nst-padding-bottom-ten {
  padding-bottom: 10em; }

.nst-border-top > .ibm-columns:first-child:before {
  content: '';
  border-top: 1px solid #AEAEAE;
  display: block;
  margin: 0 10px;
  position: relative;
  top: -90px; }

#ibm-content .nst-section-gap > .ibm-columns:first-child {
  padding-top: 90px; }

#ibm-content .nst-section-gap > .ibm-columns:last-child {
  padding-bottom: 135px; }

#ibm-content .nst-section-gap.ibm-columns {
  padding-bottom: 54px; }

.nst-flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.nst-bg-col {
  padding: 30px;
  box-sizing: border-box;
  background-color: #A6266E;
  color: white; }

.nst-bg-col a.ibm-btn-pri.ibm-btn-purple-50.nst-btn {
  border: 1px solid white; }

.nst-inner-margin {
  padding: 25px; }

.nst-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nst-640 {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto; }

.nst-670 {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto; }

.nst-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.nst-1024 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.nst-section-header:not(.nst-header-group) {
  margin-bottom: 42px; }

.nst-padding-40 {
  padding: 40px; }

.nst-border-box {
  box-sizing: border-box; }

div[class^="ibm-col-"].nst-border-col,
div[class*=" ibm-col-"].nst-border-col {
  border: 1px solid #AEAEAE; }

#ibm-content .nst-flex-vertical .ibm-columns {
  padding-bottom: 0; }
  #ibm-content .nst-flex-vertical .ibm-columns p {
    padding-bottom: 0; }

@media only screen and (min-width: 580px) {
  .nst-flex-vertical.flex-g540 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left; }
    #ibm-content .nst-flex-vertical.flex-g540 .ibm-columns {
      margin-bottom: inherit;
      padding-bottom: inherit; }
    .nst-flex-vertical.flex-g540 h1,
    .nst-flex-vertical.flex-g540 h2,
    .nst-flex-vertical.flex-g540 h3,
    .nst-flex-vertical.flex-g540 h4,
    .nst-flex-vertical.flex-g540 h4 {
      padding-bottom: 0; }
    .nst-flex-vertical.flex-g540 .ibm-columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
          -ms-flex-pack: left;
              justify-content: left; } }

@media only screen and (min-width: 1000px) {
  .nst-flex-vertical.flex-g960 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
        -ms-flex-pack: left;
            justify-content: left; }
    #ibm-content .nst-flex-vertical.flex-g960 .ibm-columns {
      margin-bottom: inherit;
      padding-bottom: inherit; }
    .nst-flex-vertical.flex-g960 h1,
    .nst-flex-vertical.flex-g960 h2,
    .nst-flex-vertical.flex-g960 h3,
    .nst-flex-vertical.flex-g960 h4,
    .nst-flex-vertical.flex-g960 h5 {
      padding-bottom: 0; }
    .nst-flex-vertical.flex-g960 .ibm-columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
          -ms-flex-pack: left;
              justify-content: left; } }

.nst-padding-bottom-90 {
  padding-bottom: 90px; }

@media only screen and (min-width: 1000px) {
  .nst-padding-right-30-g960-up {
    padding-right: 30px; } }

@media only screen and (min-width: 760px) {
  .nst-padding-right-20-g720-up {
    padding-right: 20px; } }

@media only screen and (min-width: 760px) {
  .nst-padding-right-30-g720-up {
    padding-right: 30px; } 
  .nst-padding-right-50-g720-up {
    padding-right: 50px; } }

.nst-body.ibm-h4 {
  line-height: 30px; }

div[class^="ibm-col-"][class*='padding-'],
div[class*=" ibm-col-"][class*='padding-'] {
  box-sizing: border-box; }

.nst-stack {
  outline: 1px solid black;
  float: left;
  clear: left; }

.nst-background-gray {
  background-color: #fafafa; }

.nst-border-col-solid {
  border-top: 1px solid #AEAEAE; }

.nst-900 {
  display: block;
  margin: 0 auto;
  max-width: 900px; }

div[class^="ibm-col-"] img,
div[class*=" ibm-col-"] img {
  max-width: 100%;
  height: auto; }

@media only screen and (min-width: 1000px) {
  .nst-full-height-g960 {
    height: 100%; } }

.nst-full-height-all {
  height: 100%; }

.nst-circle-clip {
  border-radius: 50%; }

.nst-fixed-image {
  background-attachment: fixed; }

.nst-large-p {
  font-size: 20px; }

.nst-abs-bottom {
  position: absolute;
  bottom: 0; }

/**
 * Components
 */
.nst-btn {
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }

.nst-span-link {
  position: relative;
  padding-left: 40px; }

a.nst-btn-cust[class*="ibm-btn-"][class*="-sec"] {
  border-color: white;
  color: white; }
  a.nst-btn-cust[class*="ibm-btn-"][class*="-sec"]:hover {
    background-color: #28bca9; }

a[class*="ibm-btn-"][class*="-btn"].nst-btn-orange, a[class*="ibm-btn-"][class*="-pri"].nst-btn-orange {
  background-color: #D74108;
  border-color: #D74108; }
  a[class*="ibm-btn-"][class*="-btn"].nst-btn-orange:hover, a[class*="ibm-btn-"][class*="-pri"].nst-btn-orange:hover {
    background-color: #a63206;
    border-color: #a63206; }

a[class*="ibm-btn-"][class*="-btn"].nst-btn-violet, a[class*="ibm-btn-"][class*="-pri"].nst-btn-violet {
  background-color: #3B0256;
  border-color: white;
  color: white; }
  a[class*="ibm-btn-"][class*="-btn"].nst-btn-violet:hover, a[class*="ibm-btn-"][class*="-pri"].nst-btn-violet:hover {
    background-color: #190124; }

a[class*="ibm-btn-"][class*="-btn"].nst-btn-purple, a[class*="ibm-btn-"][class*="-pri"].nst-btn-purple {
  background-color: #A6266E;
  border-color: white;
  color: white; }
  a[class*="ibm-btn-"][class*="-btn"].nst-btn-purple:hover, a[class*="ibm-btn-"][class*="-pri"].nst-btn-purple:hover {
    background-color: #7d1c52; }

[class^="nst-card"],
[class*=" nst-card"] {
  height: 100%;
  position: relative;
  width: 100%;
  border: 1px solid #AEAEAE;
  box-sizing: border-box; }
  [class^="nst-card"] h4,
  [class*=" nst-card"] h4 {
    margin-bottom: 25px; }
  [class^="nst-card"] .ibm-h4,
  [class*=" nst-card"] .ibm-h4 {
    line-height: 30px; }
  [class^="nst-card"].nst-padding-all-25,
  [class*=" nst-card"].nst-padding-all-25 {
    padding: 25px; }
  [class^="nst-card"].nst-left-align,
  [class*=" nst-card"].nst-left-align {
    text-align: left; }
  [class^="nst-card"].nst-text-center,
  [class*=" nst-card"].nst-text-center {
    text-align: center; }
  [class^="nst-card"].nst-padding-20,
  [class*=" nst-card"].nst-padding-20 {
    padding: 20px; }
  [class^="nst-card"].nst-card-bg,
  [class^="nst-card"].nst-card-border,
  [class*=" nst-card"].nst-card-bg,
  [class*=" nst-card"].nst-card-border {
    -webkit-transition: all 0.2s;
            transition: all 0.2s; }
  [class^="nst-card"].nst-card-border.hover,
  [class*=" nst-card"].nst-card-border.hover {
    border-color: #4178BE; }
  [class^="nst-card"].nst-card-bg.hover,
  [class*=" nst-card"].nst-card-bg.hover {
    border-color: #4178BE;
    background-color: #4178BE;
    color: white; }
    [class^="nst-card"].nst-card-bg.hover a,
    [class*=" nst-card"].nst-card-bg.hover a {
      color: white; }

.nst-appended-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/**
 * Northstar module styles
 */
/* BAND CASE STUDY */
.custom-case-study-band {
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .custom-case-study-band {
      min-height: 900px;
      background-color: white; } }
  @media only screen and (min-width: 580px) and (max-width: 759px) {
    .custom-case-study-band {
      min-height: 900px;
      background-color: white; } }
  .custom-case-study-band .custom-case-study-mobile-img {
    display: none; }
    @media only screen and (max-width: 579px) {
      .custom-case-study-band .custom-case-study-mobile-img {
        display: block;
        width: 100%;
        height: auto; } }
    @media only screen and (max-width: 759px) {
      .custom-case-study-band .custom-case-study-mobile-img {
        display: block;
        width: 100%;
        height: auto; } }
  @media only screen and (max-width: 579px) {
    .custom-case-study-band {
      background-image: url("") !important; }
      .custom-case-study-band .nst-bleed-left {
        margin-top: 0px !important;
        margin-bottom: 0px !important; } }
  @media only screen and (max-width: 759px) {
    .custom-case-study-band {
      background-image: url("") !important; }
      .custom-case-study-band .nst-bleed-left {
        margin-top: 0px !important;
        margin-bottom: 0px !important; } }

.nst-case-study-cta {
  margin-top: 40px; }

.nst-bleed-left {
  background-color: #fff;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative; }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .nst-bleed-left {
      min-height: 740px; }
      .nst-bleed-left .nst-margin-right-two {
        margin-right: 0; } }
  @media only screen and (min-width: 580px) and (max-width: 759px) {
    .nst-bleed-left .nst-margin-right-two {
      margin-right: 0; } }
  .nst-bleed-left .nst-case-study__figure {
    font-size: 5rem; }
  .nst-bleed-left .custom-case-study-description span {
    font-size: 5rem; }
  .nst-bleed-left .custom-case-study-description sup {
    font-size: 2.5rem; }
  .nst-bleed-left .custom-case-study-description h5 {
    padding-bottom: 20px; }
  @media only screen and (min-width: 1000px) and (max-width: 1239px) {
    .nst-bleed-left .custom-case-study-description span {
      font-size: 4rem; } }
  @media only screen and (min-width: 760px) and (max-width: 999px) {
    .nst-bleed-left .custom-case-study-description span {
      font-size: 4rem; }
    .nst-bleed-left .nst-half-width-g540 {
      width: 196px; } }
  @media only screen and (min-width: 580px) and (max-width: 759px) {
    .nst-bleed-left .custom-case-study-description span {
      font-size: 4rem; } }

.nst-bleed-left:before {
  content: " ";
  width: 2500px;
  position: absolute;
  height: 100%;
  background: white;
  top: 0;
  left: -2500px;
  display: block; }

.nst-module__introduction-col-1-cta .ibm-btn-row,
.nst-module__introduction-col-2-cta .ibm-btn-row {
  margin-top: 40px; }

header {
  position: relative; }

#ibm-leadspace-head .nst-video-background-container {
  height: 440px; }

#ibm-leadspace-head .nst-leadspace-mobile {
  display: none; }
  @media only screen and (max-width: 759px) {
    #ibm-leadspace-head .nst-leadspace-mobile {
      display: block; } }

#ibm-leadspace-head h1 {
  margin-top: 55px;
  margin-bottom: 22px; }

#ibm-leadspace-head p {
  font-size: 25px;
  line-height: 35px; }
  #ibm-leadspace-head p.nst-ls-cta {
    margin-top: 20px; }

#ibm-leadspace-head .nst-contact {
  margin-top: 30px; }

#ibm-leadspace-head .nst-page-title {
  margin-bottom: 0; }

.nst-tmpl-reference #ibm-leadspace-head,
#ibm-leadspace-head.nst-tmpl-reference {
  background: url(../images/api-economy-assessement-leadspace-poster.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% -75px;
  height: 440px;
  min-height: 440px; }
  @media only screen and (max-width: 579px) {
    #ibm-leadspace-head.nst-tmpl-reference {
      height: auto;
    }
  }
  .nst-tmpl-reference #ibm-leadspace-head p,
  #ibm-leadspace-head.nst-tmpl-reference p {
    font-size: 25px; }
    @media only screen and (max-width: 759px) {
      .nst-tmpl-reference #ibm-leadspace-head p,
      #ibm-leadspace-head.nst-tmpl-reference p {
        font-size: 20px;
        line-height: 30px; } }

.nst-tmpl-reference #ibm-leadspace-head #ibm-leadspace-body,
#ibm-leadspace-head.nst-tmpl-reference #ibm-leadspace-body {
  box-sizing: border-box;
  height: 100%; }

  @media only screen and (max-width: 579px) {
    .nst-tmpl-reference #ibm-leadspace-head #ibm-leadspace-body,
    #ibm-leadspace-head.nst-tmpl-reference #ibm-leadspace-body {
      padding-bottom: 0px;
    }
  }

.nst-tmpl-reference #ibm-leadspace-head p,
#ibm-leadspace-head.nst-tmpl-reference p {
  font-size: 25px; }
  @media only screen and (max-width: 759px) {
    .nst-tmpl-reference #ibm-leadspace-head p,
    #ibm-leadspace-head.nst-tmpl-reference p {
      font-size: 20px;
      line-height: 30px; } }

.nst-tmpl-offer #ibm-leadspace-head,
#ibm-leadspace-head.nst-tmpl-offer {
  height: 460px;
  min-height: 460px; }
  @media only screen and (max-width: 999px) {
    .nst-tmpl-offer #ibm-leadspace-head .ibm-h1,
    #ibm-leadspace-head.nst-tmpl-offer .ibm-h1 {
      margin-top: 30px; } }
  .nst-tmpl-offer #ibm-leadspace-head .nst-leadspace-inner,
  #ibm-leadspace-head.nst-tmpl-offer .nst-leadspace-inner {
    min-height: 368px;
    margin-top: 45px;
    padding-top: 12px; }
    .nst-tmpl-offer #ibm-leadspace-head .nst-leadspace-inner .ibm-h1,
    #ibm-leadspace-head.nst-tmpl-offer .nst-leadspace-inner .ibm-h1 {
      margin-bottom: 13px; }
  .nst-tmpl-offer #ibm-leadspace-head p,
  #ibm-leadspace-head.nst-tmpl-offer p {
    font-size: 25px; }
    @media only screen and (max-width: 759px) {
      .nst-tmpl-offer #ibm-leadspace-head p,
      #ibm-leadspace-head.nst-tmpl-offer p {
        font-size: 20px;
        line-height: 30px; } }

.ibm-landing-page .ibm-video-background .ibm-video-background-container {
  position: relative;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%; }

.ibm-landing-page .ibm-video-background .ibm-video-background-container video {
  position: absolute;
  min-width: 100%;
  height: auto;
  left: 50%;
  min-height: 100%;
  background-size: auto 550px;
  -webkit-transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  background-position: center;
  background-repeat: no-repeat; }

.nst-module__testimonial .ibm-col-1-1 {
  position: relative; }
  .nst-module__testimonial .ibm-col-1-1:before {
    display: none;
    content: '';
    border-top: 1px solid #AEAEAE;
    position: relative;
    bottom: 135px; }
    @media only screen and (max-width: 759px) {
      .nst-module__testimonial .ibm-col-1-1:before {
        display: block; } }

.nst-module__testimonial .ibm-h1 {
  margin-bottom: 47px; }

.nst-module__testimonial h2 {
  margin-bottom: 10px; }

.nst-module__testimonial img {
  margin-bottom: 30px; }

.nst-module__contact-band {
  background-color: #A6266E;
  height: 100px;
  min-height: 100px; }
  .nst-module__contact-band .flex-justify-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .nst-module__contact-band {
      height: auto; }
      .nst-module__contact-band .ibm-col-5-3 {
        padding-top: 20px; }
      .nst-module__contact-band .ibm-col-5-2 {
        padding-top: 1px; }
      .nst-module__contact-band .nst-mobile-line:last-child {
        margin-top: 12px; } }
  @media only screen and (max-width: 999px) {
    .nst-module__contact-band .nst-contact-message-header {
      margin-top: 14px;
      padding-bottom: 5px; } }
  .nst-module__contact-band .nst-contact-list-header {
    display: inline-block; }
    @media only screen and (max-width: 579px) {
      .nst-module__contact-band .nst-contact-list-header {
        display: block; } }
    @media only screen and (max-width: 999px) {
      .nst-module__contact-band .nst-contact-list-header {
        padding-bottom: 0;
        margin-top: 5px; } }
  .nst-module__contact-band .nst-phone,
  .nst-module__contact-band .nst-priority {
    color: #EFC100; }
  @media only screen and (max-width: 579px) {
    .nst-module__contact-band h3 {
      margin-top: 25px; } }

ul.nst-social-list {
  margin-left: 40px;
  display: inline-block;
  padding: 0; }
  @media only screen and (max-width: 999px) {
    ul.nst-social-list {
      vertical-align: top;
      margin-left: 10px; } }
  @media only screen and (max-width: 579px) {
    ul.nst-social-list {
      margin-left: 0;
      margin-top: 4px;
      margin-bottom: 10px; } }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .nst-contact-band ul.nst-social-list {
      display: block;
      margin-left: 0;
      margin-top: 10px; } }
  ul.nst-social-list li {
    vertical-align: top;
    display: inline-block;
    height: 40px;
    position: relative; }
    ul.nst-social-list li a {
      top: 0;
      line-height: 0;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
      ul.nst-social-list li a:hover {
        color: #cccccc; }
  ul.nst-social-list li + li {
    padding-top: 0; }

[class^="nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
[class^="nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta),
[class*=" nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
[class*=" nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta) {
  box-sizing: border-box; }
  @media only screen and (max-width: 1479px) {
    [class^="nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class^="nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta) {
      padding: 0 20px 0; } }
  @media only screen and (max-width: 1239px) {
    [class^="nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class^="nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta) {
      padding: 0 10px 0; } }
  @media only screen and (max-width: 999px) {
    [class^="nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class^="nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta) {
      padding: 0 10px 0; } }
  @media only screen and (max-width: 759px) {
    [class^="nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class^="nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta) {
      padding: 0; } }
  @media only screen and (max-width: 579px) {
    [class^="nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class^="nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class^="ibm-col-"]:not(.nst-cta),
    [class*=" nst-module__step-by-step"] .ibm-columns [class*=" ibm-col"]:not(.nst-cta) {
      padding: 0; } }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  [class^="nst-module__step-by-step"] .ibm-col-4-1,
  [class*=" nst-module__step-by-step"] .ibm-col-4-1 {
    margin-bottom: 40px; } }

[class^="nst-module__step-by-step"] [class^="ibm-col-"] img,
[class^="nst-module__step-by-step"] [class*=" ibm-col"] img,
[class*=" nst-module__step-by-step"] [class^="ibm-col-"] img,
[class*=" nst-module__step-by-step"] [class*=" ibm-col"] img {
  width: 180px;
  height: 180px;
  margin-bottom: 20px; }

@media only screen and (min-width: 580px) and (max-width: 759px) {
  [class^="nst-module__step-by-step"] [class^="ibm-col-"]:not(.ibm-col-1-1) + div img,
  [class^="nst-module__step-by-step"] [class*=" ibm-col"]:not(.ibm-col-1-1) + div img,
  [class*=" nst-module__step-by-step"] [class^="ibm-col-"]:not(.ibm-col-1-1) + div img,
  [class*=" nst-module__step-by-step"] [class*=" ibm-col"]:not(.ibm-col-1-1) + div img {
    margin-top: 40px; } }

@media only screen and (min-width: 0px) and (max-width: 579px) {
  [class^="nst-module__step-by-step"] [class^="ibm-col-"]:not(.ibm-col-1-1) + div img,
  [class^="nst-module__step-by-step"] [class*=" ibm-col"]:not(.ibm-col-1-1) + div img,
  [class*=" nst-module__step-by-step"] [class^="ibm-col-"]:not(.ibm-col-1-1) + div img,
  [class*=" nst-module__step-by-step"] [class*=" ibm-col"]:not(.ibm-col-1-1) + div img {
    margin-top: 40px; } }

[class^="nst-module__step-by-step"][class$="-left"],
[class^="nst-module__step-by-step"][class*="-left "],
[class*=" nst-module__step-by-step"][class$="-left"],
[class*=" nst-module__step-by-step"][class*="-left "] {
  font-size: 3em; }
  [class^="nst-module__step-by-step"][class$="-left"] .ibm-h4 span,
  [class^="nst-module__step-by-step"][class*="-left "] .ibm-h4 span,
  [class*=" nst-module__step-by-step"][class$="-left"] .ibm-h4 span,
  [class*=" nst-module__step-by-step"][class*="-left "] .ibm-h4 span {
    font-family: "HelveticaNeue-Bold", "HelvBoldIBM", Arial, sans-serif;
    display: block;
    font-size: 2em;
    line-height: 2em; }
  @media only screen and (max-width: 759px) {
    [class^="nst-module__step-by-step"][class$="-left"] > [class^="ibm-col-"].nst-full-width-g540 + div,
    [class^="nst-module__step-by-step"][class$="-left"] > [class*=" ibm-col"].nst-full-width-g540 + div,
    [class^="nst-module__step-by-step"][class*="-left "] > [class^="ibm-col-"].nst-full-width-g540 + div,
    [class^="nst-module__step-by-step"][class*="-left "] > [class*=" ibm-col"].nst-full-width-g540 + div,
    [class*=" nst-module__step-by-step"][class$="-left"] > [class^="ibm-col-"].nst-full-width-g540 + div,
    [class*=" nst-module__step-by-step"][class$="-left"] > [class*=" ibm-col"].nst-full-width-g540 + div,
    [class*=" nst-module__step-by-step"][class*="-left "] > [class^="ibm-col-"].nst-full-width-g540 + div,
    [class*=" nst-module__step-by-step"][class*="-left "] > [class*=" ibm-col"].nst-full-width-g540 + div {
      margin-top: 40px; } }

[class^="nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class^="ibm-col-"]:not(.nst-cta),
[class^="nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class*=" ibm-col"]:not(.nst-cta),
[class*=" nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class^="ibm-col-"]:not(.nst-cta),
[class*=" nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class*=" ibm-col"]:not(.nst-cta) {
  position: relative;
  padding-bottom: 40px; }
  @media only screen and (max-width: 759px) {
    [class^="nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class^="ibm-col-"]:not(.nst-cta).nst-full-width-g540,
    [class^="nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class*=" ibm-col"]:not(.nst-cta).nst-full-width-g540,
    [class*=" nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class^="ibm-col-"]:not(.nst-cta).nst-full-width-g540,
    [class*=" nst-module__step-by-step"] > .ibm-columns + .ibm-columns > [class*=" ibm-col"]:not(.nst-cta).nst-full-width-g540 {
      padding-bottom: 0; } }

[class^="nst-module__featured-solutions"] [class^="ibm-col-"] h3, [class^="nst-module__featured-solutions"] [class*=" ibm-col"] h3, [class*=" nst-module__featured-solutions"] [class^="ibm-col-"] h3, [class*=" nst-module__featured-solutions"] [class*=" ibm-col"] h3 {
  margin: 17px 20px 20px; }

[class^="nst-module__featured-solutions"] [class^="ibm-col-"] p, [class^="nst-module__featured-solutions"] [class*=" ibm-col"] p, [class*=" nst-module__featured-solutions"] [class^="ibm-col-"] p, [class*=" nst-module__featured-solutions"] [class*=" ibm-col"] p {
  margin-left: 20px;
  margin-right: 20px; }

[class^="nst-module__featured-solutions"] [class^="ibm-col-"] img, [class^="nst-module__featured-solutions"] [class*=" ibm-col"] img, [class*=" nst-module__featured-solutions"] [class^="ibm-col-"] img, [class*=" nst-module__featured-solutions"] [class*=" ibm-col"] img {
  max-width: 100%; }

@media only screen and (max-width: 759px) {
  [class^="nst-module__featured-solutions"] .ibm-col-6-2:not(:last-child), [class*=" nst-module__featured-solutions"] .ibm-col-6-2:not(:last-child) {
    margin-bottom: 40px; } }

[class^="nst-module__featured-solutions"] .ibm-col-6-2 .nst-card-border, [class*=" nst-module__featured-solutions"] .ibm-col-6-2 .nst-card-border {
  padding-bottom: 60px; }

[class^="nst-module__featured-solutions"] .nst-fs-image-container, [class*=" nst-module__featured-solutions"] .nst-fs-image-container {
  height: 300px;
  min-height: 300px;
  border-bottom: 1px solid #AEAEAE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  [class^="nst-module__featured-solutions"] .nst-fs-image-container img, [class*=" nst-module__featured-solutions"] .nst-fs-image-container img {
    height: auto;
    max-height: 100%; }
  [class^="nst-module__featured-solutions"] .nst-fs-image-container img, [class*=" nst-module__featured-solutions"] .nst-fs-image-container img {
    max-width: 90%; }

.ibm-col-1-1.nst-cta {
  margin-top: 60px; }
  .ibm-col-1-1.nst-cta .ibm-btn-row {
    margin-top: 0; }
  @media only screen and (max-width: 999px) {
    .ibm-col-1-1.nst-cta h3.ibm-h3 {
      display: block; } }
  .ibm-col-1-1.nst-cta h3.ibm-h3 {
    display: inline-block;
    padding: 0; }
    @media only screen and (max-width: 759px) {
      .ibm-col-1-1.nst-cta h3.ibm-h3 {
        text-align: center; } }
  .ibm-col-1-1.nst-cta p.ibm-btn-row {
    display: inline-block;
    float: right; }
    @media only screen and (max-width: 999px) {
      .ibm-col-1-1.nst-cta p.ibm-btn-row {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 10px; } }
  .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"],
  .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 120px;
    box-sizing: border-box;
    height: 100%; }
    .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"] h3,
    .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"] h3 {
      padding: 30px; }
      @media only screen and (max-width: 759px) {
        .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"] h3,
        .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"] h3 {
          padding: 20px 20px;
          display: block; } }
    @media only screen and (max-width: 759px) {
      .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"].ibm-col-6-4,
      .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"].ibm-col-6-4 {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"].ibm-col-6-2,
    .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"].ibm-col-6-2 {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media only screen and (max-width: 759px) {
        .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"].ibm-col-6-2,
        .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"].ibm-col-6-2 {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          min-height: 0;
          padding-bottom: 30px; } 
      }
      .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"].ibm-col-6-2 .ibm-btn-row,
      .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"].ibm-col-6-2 .ibm-btn-row {
        padding-right: 30px; }
        .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"].ibm-col-6-2 .ibm-btn-row a,
        .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"].ibm-col-6-2 .ibm-btn-row a {
          margin: 0; }

          @media only screen and (max-width: 759px) {
            .ibm-col-1-1.nst-cta > .ibm-columns > [class^="ibm-col-"].ibm-col-6-2 .ibm-btn-row,
            .ibm-col-1-1.nst-cta > .ibm-columns > [class*=" ibm-col"].ibm-col-6-2 .ibm-btn-row {
            padding-right: 0px; }
          }


.nst-module__related-resources [data-widget="setsameheight"] + [data-widget="setsameheight"] {
  margin-top: 10px; }
  @media only screen and (max-width: 759px) {
    .nst-module__related-resources [data-widget="setsameheight"] + [data-widget="setsameheight"] {
      margin-top: 30px; } }

.nst-module__related-resources .nst-card-bg {
  min-height: 150px; }

/*****************
module: asset promo
*****************/
section.nst-module__asset-promo .ibm-btn-row {
  margin-top: 40px; }

section.nst-module__asset-promo h4.ibm-h4 {
  line-height: 33px; }

section.nst-module__asset-promo .ibm-col-2-1 img {
  max-width: 100%;
  height: auto; }

@media only screen and (min-width: 0px) and (max-width: 579px) {
  section.nst-module__asset-promo .ibm-col-2-1:last-child {
    margin-top: 60px; } }

@media only screen and (min-width: 580px) and (max-width: 759px) {
  section.nst-module__asset-promo .ibm-col-2-1:last-child {
    margin-top: 60px; } }

[class^="nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item,
[class^="nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item, [class*=" nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item,
[class*=" nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item {
  position: relative;
  line-height: 35px;
  padding-left: 70px;
  max-width: 90%;
  min-height: 80px;
  margin-bottom: 20px; }
  [class^="nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item:before,
  [class^="nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item:before, [class*=" nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item:before,
  [class*=" nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover; }
  [class^="nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.nst-bullet:before,
  [class^="nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.nst-bullet:before, [class*=" nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.nst-bullet:before,
  [class*=" nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.nst-bullet:before {
    content: "\2022";
    left: 40px;
    top: 0px; }
  [class^="nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-one:before,
  [class^="nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-one:before, [class*=" nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-one:before,
  [class*=" nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-one:before {
    background-image: url(../images/API_SolutionOverview_Icons_101915-01.png); }
  [class^="nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-two:before,
  [class^="nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-two:before, [class*=" nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-two:before,
  [class*=" nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-two:before {
    background-image: url(../images/API_SolutionOverview_Icons_101915-03.png); }
  [class^="nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-three:before,
  [class^="nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-three:before, [class*=" nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-three:before,
  [class*=" nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-three:before {
    background-image: url(../images/API_SolutionOverview_Icons_101915-02.png); }
  [class^="nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-four:before,
  [class^="nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-four:before, [class*=" nst-module__solution-overview"].nst-module__solution-overview-icons .nst-overview-item.icon-four:before,
  [class*=" nst-module__solution-overview"].nst-module__solution-overview .nst-overview-item.icon-four:before {
    background-image: url(../images/API_SolutionOverview_Icons_101915-04.png); }

[class^="nst-module__solution-overview"] .cta-col ul, [class*=" nst-module__solution-overview"] .cta-col ul {
  padding-bottom: 0;
  margin-bottom: -20px; }

[class^="nst-module__solution-overview"] .cta-col p:first-child, [class*=" nst-module__solution-overview"] .cta-col p:first-child {
  margin-top: 35px; }

/**
 * Anything template-specific
 */
.nst-tmpl-reference .nst-module__call-to-action {
  background-color: #3B0256; }
  .nst-tmpl-reference .nst-module__call-to-action h3.ibm-h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: white; }
  .nst-tmpl-reference .nst-module__call-to-action .nst-btn-orange {
    margin-bottom: 20px; }