@font-face {
  font-family: 'HelvLightIBM';
  src: url("//1.www.s81c.com/common/fonts/hni-v2-light.eot");
  src: url("//1.www.s81c.com/common/fonts/hni-v2-light.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-light.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-light.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-light.svg#HelvLightIBM") format("svg");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'HelvRegularIBM';
  src: url("//1.www.s81c.com/common/fonts/hni-v2-roman.eot");
  src: url("//1.www.s81c.com/common/fonts/hni-v2-roman.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-roman.svg#HelvRegularIBM") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelvBoldIBM';
  src: url("//1.www.s81c.com/common/fonts/hni-v2-bold.eot");
  src: url("//1.www.s81c.com/common/fonts/hni-v2-bold.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.woff") format("woff"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/hni-v2-bold.svg#HelvBoldIBM") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "icons-ibm-v3";
  src: url("//1.www.s81c.com/common/fonts/icons-ibm-v3.eot");
  src: url("//1.www.s81c.com/common/fonts/icons-ibm-v3.eot?#iefix") format("embedded-opentype"), url("//1.www.s81c.com/common/fonts/icons-ibm-v3.woff") format("woff"), url("//1.www.s81c.com/common/fonts/icons-ibm-v3.ttf") format("truetype"), url("//1.www.s81c.com/common/fonts/icons-ibm-v3.svg#icons-ibm-v3") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons-ibm-v3";
    src: url("//1.www.s81c.com/common/fonts/icons-ibm-v3.svg#icons-ibm-v3") format("svg"); }
 }

h1.nst-purple, h2.nst-purple, h3.nst-purple, h4.nst-purple, h5.nst-purple {
  color: #A6266E; }

/*****************
v18 overrides
*****************/
#ibm-social-tools {
  display: none; }

.ibm-landing-page #ibm-pcon {
  margin-top: 0; }

#ibm-content-body {
  padding-top: 0; }

#ibm-content-main {
  padding-bottom: 0; }

#ibm-mast-minimenu-list {
  position: absolute;
  z-index: 99999999; }

[data-widget="videoplayer"] .ibm-item-note {
  display: none; }

.ibm-landing-page #ibm-content-body {
  padding-top: 0; }

.nst-text-center {
  text-align: center; }

.nst-margin-top-none {
  margin-top: 0; }

.nst-margin-top-quarter {
  margin-top: 0.25em; }

.nst-margin-top-half {
  margin-top: 0.5em; }

.nst-margin-top-one {
  margin-top: 1em; }

.nst-margin-top-two {
  margin-top: 2em; }

.nst-margin-right-none {
  margin-right: 0; }

.nst-margin-right-quarter {
  margin-right: 0.25em; }

.nst-margin-right-half {
  margin-right: 0.5em; }

.nst-margin-right-one {
  margin-right: 1em; }

.nst-margin-right-two {
  margin-right: 2em; }

.nst-margin-right-four {
  margin-right: 4em; }

.nst-margin-right-five {
  margin-right: 5em; }

.nst-padding-top-none {
  padding-top: 0; }

.nst-padding-top-quarter {
  padding-top: 0.25em; }

.nst-padding-top-half {
  padding-top: 0.5em; }

.nst-padding-top-one {
  padding-top: 1em; }

.nst-padding-top-two {
  padding-top: 2em; }

.nst-padding-top-four {
  padding-top: 4em; }

.nst-padding-top-five {
  padding-top: 5em; }

.nst-padding-top-six {
  padding-top: 6em; }

.nst-padding-top-seven {
  padding-top: 7em; }

.nst-padding-top-eight {
  padding-top: 8em; }

.nst-padding-top-ten {
  padding-top: 10em; }

.nst-padding-bottom-none {
  padding-bottom: 0; }

.nst-padding-bottom-quarter {
  padding-bottom: 0.25em; }

.nst-padding-bottom-half {
  padding-bottom: 0.5em; }

.nst-padding-bottom-one {
  padding-bottom: 1em; }

.nst-padding-bottom-two {
  padding-bottom: 2em; }

.nst-padding-bottom-four {
  padding-bottom: 4em; }

.nst-padding-bottom-five {
  padding-bottom: 5em; }

.nst-padding-bottom-six {
  padding-bottom: 6em; }

.nst-padding-bottom-seven {
  padding-bottom: 7em; }

.nst-padding-bottom-eight {
  padding-bottom: 8em; }

.nst-padding-bottom-ten {
  padding-bottom: 10em; }

@media only screen and (max-width: 1239px) {
  .ibm-col-g960-third {
    width: 300px;
    margin-bottom: 20px; } }

@media only screen and (max-width: 1239px) {
  .ibm-col-g960-two-thirds {
    width: 620px;
    margin-bottom: 20px; } }

@media only screen and (max-width: 999px) {
  .ibm-col-g720-half {
    width: 340px;
    margin-bottom: 20px; } }

@media only screen and (max-width: 999px) {
  .ibm-col-g720-full {
    width: 95%;
    margin-bottom: 20px; } }

@media only screen and (max-width: 759px) {
  .ibm-col-g540-full {
    width: 95%;
    margin-bottom: 20px; } }

@media only screen and (max-width: 759px) {
  .ibm-landing-page .ibm-col-g540-full {
    width: 95%;
    margin-bottom: 20px; } }

@media only screen and (max-width: 999px) {
  .ibm-col-g720-hidden {
    display: none; } }

@media only screen and (max-width: 759px) {
  .ibm-col-g540-hidden {
    display: none; } }

@media only screen and (max-width: 759px) {
  .ibm-col-g540-border {
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7; } }

@media only screen and (max-width: 759px) {
  .ibm-col-g540-border + .ibm-col-g540-border {
    border-top: 0px; } }

#ibm-leadspace-head.ibm-fixed-background, .ibm-nst-band.ibm-fixed-background {
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

@media only screen and (max-width: 759px) {
  #ibm-leadspace-head.ibm-fixed-background, .ibm-nst-band.ibm-fixed-background {
    background-image: none !important; } }

@media only screen and (max-width: 999px) {
  .hires #ibm-leadspace-head.ibm-fixed-background, .hires .ibm-nst-band.ibm-fixed-background {
    background-attachment: scroll; } }

@media only screen and (max-width: 1239px) and (orientation: landscape) {
  .hires #ibm-leadspace-head.ibm-fixed-background, .hires .ibm-nst-band.ibm-fixed-background {
    background-attachment: scroll; } }

#ibm-com #ibm-top .ibm-nst-header {
  color: #323232; }

#ibm-com #ibm-top .ibm-nst-header.ibm-no-padding {
  padding-bottom: 0px; }

#ibm-com #ibm-top .ibm-nst-header.ibm-mobile-only {
  display: none; }

@media only screen and (max-width: 759px) {
  #ibm-com #ibm-top .ibm-nst-header.ibm-mobile-only {
    display: block; } }

@media only screen and (max-width: 759px) {
  #ibm-com #ibm-top .ibm-nst-header.ibm-mobile-small {
    font-size: 16px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.3125rem; } }

.ibm-nst-band .ibm-nst-band__mobile-img {
  display: none; }

@media only screen and (max-width: 759px) {
  .ibm-nst-band .ibm-nst-band__mobile-img {
    display: block;
    width: 100%;
    height: auto; } }

.ibm-nst-band .ibm-nst-band__badge {
  background-color: #fff;
  margin-top: 75px;
  margin-bottom: 65px;
  padding: 70px 30px 70px 0;
  position: relative; }

@media only screen and (max-width: 1239px) {
  .ibm-nst-band .ibm-nst-band__badge {
    padding: 50px 30px 50px 0;
    margin-top: 45px;
    margin-bottom: 35px; } }

@media only screen and (max-width: 759px) {
  .ibm-nst-band .ibm-nst-band__badge {
    padding: 0;
    margin-top: 35px;
    margin-bottom: 0px; } }

.ibm-nst-band .ibm-nst-band__badge:before {
  content: " ";
  width: 2500px;
  position: absolute;
  height: 100%;
  background: white;
  top: 0;
  left: -2500px;
  display: block; }

@media only screen and (max-width: 1239px) {
  #ibm-com #ibm-top .ibm-nst-band .ibm-nst-band__badge .ibm-nst-band__title {
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 56px;
    line-height: 3.5rem; } }

@media only screen and (max-width: 999px) {
  #ibm-com #ibm-top .ibm-nst-band .ibm-nst-band__badge .ibm-nst-band__title {
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 46px;
    line-height: 2.875rem; } }

@media only screen and (max-width: 579px) {
  #ibm-com #ibm-top .ibm-nst-band .ibm-nst-band__badge .ibm-nst-band__title {
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 31px;
    line-height: 1.9375rem; } }

.ibm-nst-band .ibm-nst-band__badge strong {
  font-size: 100px;
  font-size: 6.25rem;
  line-height: normal;
  display: block; }

@media only screen and (max-width: 1239px) {
  .ibm-nst-band .ibm-nst-band__badge strong {
    font-size: 80px;
    font-size: 5rem; } }

@media only screen and (max-width: 999px) {
  .ibm-nst-band .ibm-nst-band__badge strong {
    font-size: 60px;
    font-size: 3.75rem; } }

.ibm-nst-band .ibm-nst-band__badge strong > sup {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: normal;
  position: relative;
  top: -35px; }

@media only screen and (max-width: 1239px) {
  .ibm-nst-band .ibm-nst-band__badge strong > sup {
    font-size: 40px;
    font-size: 2.5rem;
    top: -30px; } }

@media only screen and (max-width: 999px) {
  .ibm-nst-band .ibm-nst-band__badge strong > sup {
    font-size: 30px;
    font-size: 1.875rem;
    top: -20px; } }

@media only screen and (max-width: 1239px) {
  .ibm-nst-band .ibm-nst-band__badge strong + h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.3125rem; } }

.ibm-nst-band .ibm-nst-band__badge > p {
  margin-top: 25px;
  margin-bottom: 30px; }

@media only screen and (max-width: 1239px) {
  .ibm-nst-band .ibm-nst-band__badge > p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 21px;
    line-height: 1.3125rem;
    margin-bottom: 20px; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content {
  position: relative;
  min-height: 220px;
  display: block;
  text-decoration: none; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__featured {
  min-height: 590px; }

.msie8 .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__featured {
  min-height: 470px; }

@media only screen and (max-width: 1479px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__featured {
    min-height: 540px; } }

@media only screen and (max-width: 1239px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__featured {
    min-height: 473px; } }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__featured {
    min-height: 485px; } }

.msie8 .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__trials {
  min-height: 490px; }

@media only screen and (max-width: 1479px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__trials {
    min-height: 472px; } }

@media only screen and (max-width: 1239px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__trials {
    min-height: 495px; } }

@media only screen and (max-width: 999px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__trials {
    min-height: 495px; } }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__trials {
    min-height: 525px; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__categories {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s; }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__categories {
    border: 0px; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__categories:hover {
  border: 1px solid #4178BE; }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__categories:hover:hover {
    border: 0px; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__categories:hover .ibm-nst-header {
  text-decoration: underline; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--border {
  border: 1px solid #E6E6E6;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--border:hover {
  border: 1px solid #4178BE; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--border:hover .ibm-nst__more {
  text-decoration: underline; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--border:hover .ibm-nst__btn {
  background-color: #325C80;
  border-color: #325C80; }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--border {
    border: 0px; }
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--border:hover {
    border: 0px; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--padding {
  padding: 14px 20px 0px; }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--padding {
    padding: 14px 0px 0px; } }

@media only screen and (max-width: 759px) {
  #ibm-content .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--mobile {
    text-align: left; } }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--mobile {
    min-height: 0px; } }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--mobile img {
    float: right;
    width: 92px;
    height: 72px;
    margin: 0px 0 0 20px; } }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__content--mobile .ibm-nst-header {
    margin-top: 20px;
    margin-bottom: 10px; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content .ibm-nst__inner {
  padding: 17px 20px 0px; }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__content .ibm-nst__inner {
    padding: 17px 0px 0px; } }

#ibm-content .ibm-nst [class*="ibm-col-"] .ibm-nst__content p.ibm-narrow {
  padding: 0 40px; }

@media only screen and (max-width: 999px) {
  #ibm-content .ibm-nst [class*="ibm-col-"] .ibm-nst__content p.ibm-narrow {
    padding: 0; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content .ibm-nst__tag {
  display: block;
  text-align: left;
  padding-top: 5px; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content .ibm-nst__more {
  color: #4178BE;
  text-decoration: none;
  display: block; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content .ibm-nst__more.ibm-bottom-link {
  position: absolute;
  bottom: 15px;
  padding-right: 15px; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content .ibm-nst__more.ibm-extra-space {
  margin-top: 20px;
  display: block; }

.ibm-nst [class*="ibm-col-"] .ibm-nst__content .ibm-nst__more:hover {
  text-decoration: underline; }

.ibm-cell-no-margin.ibm-nst [class*="ibm-col-"] + [class*="ibm-col-"] .ibm-nst__content--border {
  border-left: 0px; }

@media only screen and (max-width: 999px) {
  .ibm-cell-no-margin.ibm-nst [class*="ibm-col-"] + [class*="ibm-col-"] .ibm-nst__content--border {
    border-left: 1px solid #E6E6E6; } }

.ibm-nst [class*="ibm-col-"].ibm-nst_second-row {
  margin-top: 110px; }

@media only screen and (max-width: 999px) {
  .ibm-nst [class*="ibm-col-"].ibm-nst_second-row {
    margin-top: 0; } }

.ibm-nst [class*="ibm-col-"] img.ibm-border-bottom {
  border-bottom: 1px solid #E6E6E6; }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] img.ibm-border-bottom {
    border-bottom: 0px; } }

.ibm-nst [class*="ibm-col-"] img.ibm-extra-space {
  margin-top: 55px;
  margin-bottom: 35px; }

@media only screen and (max-width: 579px) {
  .ibm-nst [class*="ibm-col-"] img.ibm-extra-space {
    margin-top: 0px; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__button {
  bottom: 0;
  width: 100%;
  left: 0px; }

@media only screen and (max-width: 1479px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__button {
    position: absolute; } }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__button {
    position: relative; } }

.ibm-nst [class*="ibm-col-"] .ibm-nst__btn {
  font-weight: bold;
  border: 2px solid #4C4D53;
  text-decoration: none;
  padding: .7em 1.125em .7em;
  max-width: 100%;
  min-width: 120px;
  min-width: 90px\9;
  min-height: 20px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #4178BE;
  border-color: #4178BE;
  margin-top: 35px;
  margin-bottom: 60px;
  color: #fff;
  display: inline-block;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, border-color 0.2s; }

@media only screen and (max-width: 759px) {
  .ibm-nst [class*="ibm-col-"] .ibm-nst__btn {
    margin-bottom: 20px; } }

.ibm-let-us-help .ibm-help-col {
  width: 270px; }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-let-us-help .ibm-help-col {
    border-width: 2px;
    border-style: solid;
    border-color: #C8D2D2;
    padding-left: 30px;
    padding-right: 70px; } }

@media only screen and (max-width: 759px) {
  .ibm-let-us-help .ibm-help-col {
    width: 260px;
    border-width: 0px;
    padding: 0px; } }

.ibm-let-us-help .ibm-help-col-border {
  width: 270px;
  border-left-width: 2px;
  border-style: solid;
  border-color: #C8D2D2;
  padding-left: 30px; }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-let-us-help .ibm-help-col-border {
    border-width: 2px;
    padding-left: 30px;
    padding-right: 70px; } }

@media only screen and (max-width: 759px) {
  .ibm-let-us-help .ibm-help-col-border {
    width: 260px;
    border-width: 2px 0 0 0;
    padding: 20px 0 0 0; } }

.ibm-let-us-help .ibm-help-btn {
  float: right; }

.nst-span-link {
  color: #4178be; }

.nst-text-purple {
  color: #A6266E; }

.nst-text-gold {
  color: #EFC100; }

.ibm-type p, .ibm-type ul, .ibm-type a, .ibm-type .ibm-h1, .ibm-type .ibm-h2, .ibm-type .ibm-h3, .ibm-type .ibm-h4, .ibm-type .ibm-h5 {
  font-family: "HelveticaNeue-Light", "HelvLightIBM", Arial, sans-serif; }
  .ibm-type p.nst-bold, .ibm-type ul.nst-bold, .ibm-type a.nst-bold, .ibm-type .ibm-h1.nst-bold, .ibm-type .ibm-h2.nst-bold, .ibm-type .ibm-h3.nst-bold, .ibm-type .ibm-h4.nst-bold, .ibm-type .ibm-h5.nst-bold {
    font-family: "HelveticaNeue-Bold", "HelvBoldIBM", Arial, sans-serif; }

.nst-btn {
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.nst-span-link {
  position: relative;
  padding-left: 40px; }

a.nst-btn-cust[class*="ibm-btn-"][class*="-sec"] {
  border-color: white;
  color: white; }
  a.nst-btn-cust[class*="ibm-btn-"][class*="-sec"]:hover {
    background-color: #28bca9; }

a[class*="ibm-btn-"][class*="-btn"].nst-btn-orange, a[class*="ibm-btn-"][class*="-pri"].nst-btn-orange {
  background-color: #D74108;
  border-color: #D74108; }
  a[class*="ibm-btn-"][class*="-btn"].nst-btn-orange:hover, a[class*="ibm-btn-"][class*="-pri"].nst-btn-orange:hover {
    background-color: #a63206;
    border-color: #a63206; }
a[class*="ibm-btn-"][class*="-btn"].nst-btn-violet, a[class*="ibm-btn-"][class*="-pri"].nst-btn-violet {
  background-color: #3B0256;
  border-color: white;
  color: white; }
  a[class*="ibm-btn-"][class*="-btn"].nst-btn-violet:hover, a[class*="ibm-btn-"][class*="-pri"].nst-btn-violet:hover {
    background-color: #190124; }
a[class*="ibm-btn-"][class*="-btn"].nst-btn-purple, a[class*="ibm-btn-"][class*="-pri"].nst-btn-purple {
  background-color: #A6266E;
  border-color: white;
  color: white; }
  a[class*="ibm-btn-"][class*="-btn"].nst-btn-purple:hover, a[class*="ibm-btn-"][class*="-pri"].nst-btn-purple:hover {
    background-color: #7d1c52; }

#ibm-leadspace-head {
  min-height: 435px;
  background-size: cover; }
  #ibm-leadspace-head h1 {
    margin-top: 55px;
    margin-bottom: 22px; }
  #ibm-leadspace-head p {
    font-size: 25px;
    line-height: 35px; }
    #ibm-leadspace-head p.nst-ls-cta {
      margin-top: 53px; }
  .nst-tmpl-reference #ibm-leadspace-head {
    height: 440px;
    min-height: 440px; }
    .nst-tmpl-reference #ibm-leadspace-head p {
      font-size: 25px; }
      @media only screen and (max-width: 759px) {
        .nst-tmpl-reference #ibm-leadspace-head p {
          font-size: 20px;
          line-height: 30px; } }
  #ibm-leadspace-head .nst-contact {
    margin-top: 30px; }
  #ibm-leadspace-head .nst-page-title {
    margin-bottom: 0; }

.nst-border-top {
  border-top: 1px solid #AEAEAE;
  margin-top: -90px; }

#ibm-content .nst-section-gap > .ibm-columns:first-child {
  padding-top: 90px; }
#ibm-content .nst-section-gap > .ibm-columns:last-child {
  padding-bottom: 135px; }
#ibm-content .nst-section-gap.ibm-columns {
  padding-bottom: 54px; }

.nst-flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.nst-bg-col {
  padding: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #A6266E;
  color: white; }

.nst-bg-col a.ibm-btn-pri.ibm-btn-purple-50.nst-btn {
  border: 1px solid white; }

.nst-inner-margin {
  padding: 25px; }

.nst-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nst-640 {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto; }

.nst-670 {
  max-width: 670px;
  margin-left: auto;
  margin-right: auto; }

.nst-800 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.nst-1024 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.nst-section-header:not(.nst-header-group) {
  margin-bottom: 42px; }

.nst-padding-40 {
  padding: 40px; }

.nst-border-box {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div[class^="ibm-col-"].nst-border-col, div[class*=" ibm-col-"].nst-border-col {
  border: 1px solid #AEAEAE; }

#ibm-content .nst-flex-vertical .ibm-columns {
  padding-bottom: 0; }
  #ibm-content .nst-flex-vertical .ibm-columns p {
    padding-bottom: 0; }
@media only screen and (min-width: 580px) {
  .nst-flex-vertical.flex-g540 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left; }
    #ibm-content .nst-flex-vertical.flex-g540 .ibm-columns {
      margin-bottom: inherit;
      padding-bottom: inherit; }
    .nst-flex-vertical.flex-g540 h1, .nst-flex-vertical.flex-g540 h2, .nst-flex-vertical.flex-g540 h3, .nst-flex-vertical.flex-g540 h4, .nst-flex-vertical.flex-g540 h4 {
      padding-bottom: 0; }
    .nst-flex-vertical.flex-g540 .ibm-columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
      -moz-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left; } }
@media only screen and (min-width: 1000px) {
  .nst-flex-vertical.flex-g960 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left; }
    #ibm-content .nst-flex-vertical.flex-g960 .ibm-columns {
      margin-bottom: inherit;
      padding-bottom: inherit; }
    .nst-flex-vertical.flex-g960 h1, .nst-flex-vertical.flex-g960 h2, .nst-flex-vertical.flex-g960 h3, .nst-flex-vertical.flex-g960 h4, .nst-flex-vertical.flex-g960 h4 {
      padding-bottom: 0; }
    .nst-flex-vertical.flex-g960 .ibm-columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
      -moz-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left; } }

.nst-padding-bottom-90 {
  padding-bottom: 90px; }

.nst-padding-right-30 {
  padding-right: 30px; }

.nst-body.ibm-h4 {
  line-height: 30px; }

div[class^="ibm-col-"][class*='padding-'], div[class*=" ibm-col-"][class*='padding-'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.nst-stack {
  outline: 1px solid black;
  float: left;
  clear: left; }

.nst-background-gray {
  background-color: #fafafa; }

.nst-module__solution-overview .nst-cust-list-item {
  position: relative;
  line-height: 35px;
  padding-left: 70px;
  max-width: 90%;
  min-height: 80px;
  margin-bottom: 20px; }
  .nst-module__solution-overview .nst-cust-list-item.realtime:before {
    background-image: url(../images/mlp-offer-security-qradar-realtime.png); }
  .nst-module__solution-overview .nst-cust-list-item.userreports:before {
    background-image: url(../images/mlp-offer-security-qradar-userreports.png); }
  .nst-module__solution-overview .nst-cust-list-item.alerts:before {
    background-image: url(../images/mlp-offer-security-qradar-alerts.png); }
  .nst-module__solution-overview .nst-cust-list-item.integration:before {
    background-image: url(../images/mlp-offer-security-qradar-integration.png); }
  .nst-module__solution-overview .nst-cust-list-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover; }
.nst-module__solution-overview .cta-col ul {
  padding-bottom: 0;
  margin-bottom: -20px; }
.nst-module__solution-overview .cta-col p:first-child {
  margin-top: 35px; }

.nst-border-col-solid {
  border-top: 1px solid #AEAEAE; }

.nst-900 {
  display: block;
  margin: 0 auto;
  max-width: 900px; }

div[class^="ibm-col-"] img, div[class*=" ibm-col-"] img {
  max-width: 100%;
  height: auto; }

@media only screen and (min-width: 760px) and (max-width: 999px) {
  .nst-tmpl-offer-detail .ibm-col-1-1.nst-trio-cta h3.ibm-h3 {
    display: block; } }

@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .nst-tmpl-reference .ibm-col-1-1.nst-trio-cta p.ibm-btn-row {
    display: block;
    text-align: center;
    float: none;
    margin-top: 20px; } }
@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .nst-tmpl-reference .ibm-col-1-1.nst-trio-cta .ibm-h3 {
    display: block;
    text-align: center; } }
@media only screen and (min-width: 760px) and (max-width: 999px) {
  .nst-tmpl-reference .custom-case-study-badge {
    width: 588px; } }
@media only screen and (max-width: 999px) {
  .ibm-landing-page .nst-tmpl-reference .custom-case-study-badge .ibm-col-5-3.nst-full-width-g540 {
    width: 474px !important; } }
@media only screen and (min-width: 580px) and (max-width: 759px) {
  .nst-tmpl-reference .custom-case-study-badge .ibm-col-4-1.nst-half-width-g540 {
    width: 215px; } }

@media only screen and (min-width: 0px) and (max-width: 579px) {
  .trio .ibm-col-6-2:not(:first-child) {
    margin-top: 60px; } }
.trio .ibm-item-note {
  display: none; }

@media only screen and (min-width: 1000px) {
  .nst-full-height-g960 {
    height: 100%; } }

div[class*="ibm-col-"].nst-bg-col .ibm-btn-row {
  margin-top: 25px;
  margin-bottom: 18px; }
div[class*="ibm-col-"] .nst-card-list {
  padding-left: 0;
  padding: 0;
  margin-bottom: 30px; }
  div[class*="ibm-col-"] .nst-card-list li {
    padding-left: 0;
    line-height: 20px; }
    div[class*="ibm-col-"] .nst-card-list li:before {
      content: none; }
div[class*="ibm-col-"] > a h3, div[class*="ibm-col-"] > a ul, div[class*="ibm-col-"] > a p {
  color: #323232; }
div[class*="ibm-col-"] a.ibm-nst__content.ibm-nst__content--border {
  margin-bottom: 10px; }

/*****************
module: step by step
*****************/
section.nst-module__step-by-step .ibm-col-6-2 {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (min-width: 1000px) and (max-width: 1239px) {
    section.nst-module__step-by-step .ibm-col-6-2 {
      padding: 0 20px 0; } }
  @media only screen and (min-width: 760px) and (max-width: 999px) {
    section.nst-module__step-by-step .ibm-col-6-2 {
      padding: 0; } }
  @media only screen and (min-width: 580px) and (max-width: 759px) {
    section.nst-module__step-by-step .ibm-col-6-2 {
      padding: 0; } }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    section.nst-module__step-by-step .ibm-col-6-2 {
      padding: 0; } }

/*****************
module-intro
*****************/
section.nst-intro {
  padding-top: 0px;
  padding-bottom: 0px; }
  section.nst-intro > .ibm-columns:first-child {
    margin-top: 30px; }

/*****************
module-learn-more 
*****************/
@media only screen and (min-width: 1480px) {
  section.learn-more .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__featured {
    min-height: 490px; } }
@media only screen and (min-width: 1240px) and (max-width: 1479px) {
  section.learn-more .ibm-nst [class*="ibm-col-"] .ibm-nst__content.ibm-nst__featured {
    min-height: 490px; } }
section.learn-more img {
  width: 100%; }
section.learn-more span.ibm-nst__more {
  padding-left: 40px; }

/*****************
module: asset promo
*****************/
section.nst-module__asset-promo .ibm-btn-row {
  margin-top: 20px; }
section.nst-module__asset-promo h4.ibm-h4 {
  line-height: 33px; }
section.nst-module__asset-promo p, section.nst-module__asset-promo ul {
  line-height: 21px;
  font-size: 16px; }
section.nst-module__asset-promo .ibm-col-2-1 img {
  max-width: 100%;
  height: auto; }
@media only screen and (min-width: 0px) and (max-width: 579px) {
  section.nst-module__asset-promo .ibm-col-2-1:last-child {
    margin-top: 60px; } }
@media only screen and (min-width: 580px) and (max-width: 759px) {
  section.nst-module__asset-promo .ibm-col-2-1:last-child {
    margin-top: 60px; } }

.nst-module__step-by-step .nst-section-header {
  margin-bottom: 40px; }
.nst-module__step-by-step h4.ibm-h4 {
  margin-top: 35px; }

.nst-module__step-by-step .padded {
  padding-left: 20px;
  padding-right: 20px; }

/*****************
module-feedback 
*****************/
@media only screen and (min-width: 760px) and (max-width: 999px) {
  .nst-feedback .ibm-h3 {
    display: block; } }
.nst-feedback .ibm-btn-row {
  display: inline-block; }
  @media only screen and (max-width: 999px) {
    .nst-feedback .ibm-btn-row {
      margin-top: 30px; } }
.nst-feedback h2, .nst-feedback h3, .nst-feedback h4 {
  display: inline-block;
  color: white;
  padding-bottom: 0; }
.nst-feedback a[class*="ibm-btn-"][class*="-btn"].nst-btn, .nst-feedback a[class*="ibm-btn-"][class*="-pri"].nst-btn {
  padding: 15px 50px;
  margin-left: 20px; }
  @media only screen and (max-width: 579px) {
    .nst-feedback a[class*="ibm-btn-"][class*="-btn"].nst-btn, .nst-feedback a[class*="ibm-btn-"][class*="-pri"].nst-btn {
      padding: 10px 20px; } }
  .nst-feedback a[class*="ibm-btn-"][class*="-btn"].nst-btn:first-of-type, .nst-feedback a[class*="ibm-btn-"][class*="-pri"].nst-btn:first-of-type {
    margin-left: 100px; }
    @media only screen and (max-width: 999px) {
      .nst-feedback a[class*="ibm-btn-"][class*="-btn"].nst-btn:first-of-type, .nst-feedback a[class*="ibm-btn-"][class*="-pri"].nst-btn:first-of-type {
        margin-left: 0; } }
.nst-feedback.ibm-band {
  height: 150px;
  min-height: 150px; }
  .nst-tmpl-reference .nst-feedback.ibm-band {
    background-color: #3B0256; }
    .nst-tmpl-reference .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-btn"], .nst-tmpl-reference .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-pri"] {
      background-color: #3B0256;
      border-color: white;
      color: white; }
      .nst-tmpl-reference .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-btn"]:hover, .nst-tmpl-reference .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-pri"]:hover {
        background-color: #190124; }
  .nst-tmpl-offer .nst-feedback.ibm-band {
    background-color: #323232; }
    .nst-tmpl-offer .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-btn"], .nst-tmpl-offer .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-pri"] {
      background-color: #323232;
      border-color: white;
      color: white; }
      .nst-tmpl-offer .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-btn"]:hover, .nst-tmpl-offer .nst-feedback.ibm-band a[class*="ibm-btn-"][class*="-pri"]:hover {
        background-color: #191919; }

/*****************
module-quiz-band 
*****************/
.nst-quiz-band {
  min-height: 0; }

.nst-quiz-band-col {
  border: 2px solid #9855D4; }

.ibm-col-1-1.nst-cta {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  margin-top: 60px; }
  @media only screen and (max-width: 999px) {
    .ibm-col-1-1.nst-cta {
      padding: 30px; } }
  .ibm-col-1-1.nst-cta h3.ibm-h3 {
    display: inline-block;
    padding: 0; }
    @media only screen and (max-width: 999px) {
      .ibm-col-1-1.nst-cta h3.ibm-h3 {
        text-align: center; } }
  .ibm-col-1-1.nst-cta p.ibm-btn-row {
    display: inline-block;
    float: right; }
    @media only screen and (max-width: 999px) {
      .ibm-col-1-1.nst-cta p.ibm-btn-row {
        display: block;
        float: none;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px; } }

.nst-module__step-by-step .nst-section-header {
  margin-bottom: 40px; }
.nst-module__step-by-step h4.ibm-h4 {
  margin-top: 35px; }

.nst-module__step-by-step .padded {
  padding-left: 20px;
  padding-right: 20px; }

.nst-clip-circle {
  border-radius: 50%; }

.nst-tmpl-reference section.secondary .nst-list-header {
  color: #A6266E !important; }
.nst-tmpl-offer section.secondary .nst-border-top {
  display: none; }

.nst-border-2 {
  border: 2px solid #A6266E;
  padding: 37px; }

.nst-quiz-col .nst-ls-cta a {
  border-color: #A6266E; }

.ibm-h3.nst-list-header.nst-small {
  font-size: 20px;
  line-height: 30px; }

/* BAND CASE STUDY */
.custom-case-study-band {
  padding-top: 40px;
  padding-bottom: 40px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .custom-case-study-band {
      min-height: 900px;
      background-color: white; } }
  @media only screen and (min-width: 580px) and (max-width: 759px) {
    .custom-case-study-band {
      min-height: 900px;
      background-color: white; } }
  v18 .custom-case-study-band.nst-leadspace-case-study {
    min-height: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: center 0; }
    v18 .custom-case-study-band.nst-leadspace-case-study h3 {
      padding-right: 20px; }
    @media only screen and (min-width: 0px) and (max-width: 579px) {
      v18 .custom-case-study-band.nst-leadspace-case-study {
        max-height: 700px;
        height: 700px; } }
    v18 .custom-case-study-band.nst-leadspace-case-study .custom-case-study-badge {
      min-height: 400px; }
  .custom-case-study-band .custom-case-study-mobile-img {
    display: none; }
    @media only screen and (max-width: 579px) {
      .custom-case-study-band .custom-case-study-mobile-img {
        display: block;
        width: 100%;
        height: auto; } }
    @media only screen and (max-width: 759px) {
      .custom-case-study-band .custom-case-study-mobile-img {
        display: block;
        width: 100%;
        height: auto; } }
  @media only screen and (max-width: 579px) {
    .custom-case-study-band {
      background-image: url("") !important; }
      .custom-case-study-band .custom-case-study-badge {
        margin-top: 0px !important;
        margin-bottom: 0px !important; } }
  @media only screen and (max-width: 759px) {
    .custom-case-study-band {
      background-image: url("") !important; }
      .custom-case-study-band .custom-case-study-badge {
        margin-top: 0px !important;
        margin-bottom: 0px !important; } }
  .custom-case-study-band .custom-case-study-badge {
    background-color: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative; }
    @media only screen and (min-width: 0px) and (max-width: 579px) {
      .custom-case-study-band .custom-case-study-badge {
        min-height: 740px; }
        .custom-case-study-band .custom-case-study-badge .nst-margin-right-two {
          margin-right: 0; } }
    @media only screen and (min-width: 580px) and (max-width: 759px) {
      .custom-case-study-band .custom-case-study-badge .nst-margin-right-two {
        margin-right: 0; } }
    .custom-case-study-band .custom-case-study-badge .custom-case-study-description span {
      font-size: 5rem; }
    .custom-case-study-band .custom-case-study-badge .custom-case-study-description sup {
      font-size: 2.5rem; }
    .custom-case-study-band .custom-case-study-badge .custom-case-study-description h5 {
      padding-bottom: 20px; }
    @media only screen and (min-width: 1000px) and (max-width: 1239px) {
      .custom-case-study-band .custom-case-study-badge .custom-case-study-description span {
        font-size: 4rem; } }
    @media only screen and (min-width: 760px) and (max-width: 999px) {
      .custom-case-study-band .custom-case-study-badge .custom-case-study-description span {
        font-size: 4rem; }
      .custom-case-study-band .custom-case-study-badge .nst-half-width-g540 {
        width: 196px; } }
    @media only screen and (min-width: 580px) and (max-width: 759px) {
      .custom-case-study-band .custom-case-study-badge .custom-case-study-description span {
        font-size: 4rem; } }
  .custom-case-study-band .custom-case-study-badge:before {
    content: " ";
    width: 2500px;
    position: absolute;
    height: 100%;
    background: white;
    top: 0;
    left: -2500px;
    display: block; }

.nst-case-study-cta {
  margin-top: 40px; }

textarea {
  resize: none; }

textarea {
  margin-bottom: 20px; }

.ibm-contact-widget-btn {
  bottom: -60px;
  margin: 0;
  position: fixed;
  right: 110px;
  -webkit-transition: bottom .2s;
  transition: bottom .2s;
  z-index: 10; }

.ibm-contact-widget-btn.ibm-showing {
  bottom: 0; }

.ibm-contact-widget {
  background-color: #3C4646;
  bottom: -400px;
  max-width: 400px;
  min-width: 300px;
  padding: 15px 20px 20px;
  position: fixed;
  right: 110px;
  -webkit-transition: bottom .3s;
  transition: bottom .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 11; }

.ibm-contact-widget.ibm-showing {
  bottom: 0; }

.ibm-contact-widget h2 {
  display: none; }

.ibm-contact-widget h3 {
  margin-top: -7px;
  padding-right: 50px; }

.ibm-contact-widget li p {
  padding-bottom: 0; }

.ibm-contact-widget .ibm-feedback-item {
  border-top: 1px solid #AEAEAE;
  margin-top: 17px;
  padding-top: 17px; }

.ibm-contact-widget .ibm-close-link {
  position: absolute;
  right: 5px;
  top: 10px; }

.ibm-contact-widget [class*='-link']:before, .ibm-contact-widget .ibm-priority-code {
  color: #AEAEAE; }

.nst-contact-list {
  padding-bottom: 0;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 77px;
  font-size: 0;
  margin-top: 28px; }
  .nst-contact-list li:before {
    content: none; }
  .nst-contact-list ul li + li {
    padding-top: 0; }
  .nst-contact-list > li:first-child {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -moz-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    float: left;
    padding-left: 0;
    position: relative;
    width: 77px; }
    .nst-contact-list > li:first-child .ibm-columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
      -moz-box-pack: left;
      -ms-flex-pack: left;
      justify-content: left; }
  .nst-contact-list > li {
    height: 100%;
    vertical-align: top;
    border: 1px solid #FFFFFF;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .nst-contact-list > li > ul {
      min-width: 330px;
      padding-left: 0; }
      .nst-contact-list > li > ul > li {
        padding-left: 0; }
    .nst-contact-list > li i.ibm-phone-link {
      font-size: 20px;
      position: relative; }
      .nst-contact-list > li i.ibm-phone-link:before {
        top: -14px;
        left: 24px; }
    .nst-contact-list > li:before {
      content: none; }
  .nst-contact-list li + li {
    padding-top: 0;
    border-left: none; }
  .nst-contact-list .nst-phone, .nst-contact-list .nst-priority-code {
    color: #EFC100; }
  @media only screen and (max-width: 579px) {
    .nst-contact-list {
      height: 70px; }
      .nst-contact-list > li:first-child {
        width: 60px; }
      .nst-contact-list > li:last-child {
        padding-left: 10px; }
      .nst-contact-list > li > ul {
        padding-top: 8px;
        min-width: 250px;
        font-size: 14px; } }

.nst-testimonial-module .ibm-col-1-1 {
  position: relative; }
  .nst-testimonial-module .ibm-col-1-1:before {
    display: none;
    content: '';
    border-top: 1px solid #AEAEAE;
    position: relative;
    bottom: 135px; }
    @media only screen and (max-width: 759px) {
      .nst-testimonial-module .ibm-col-1-1:before {
        display: block; } }
.nst-testimonial-module .ibm-h1 {
  margin-bottom: 47px; }
.nst-testimonial-module h2 {
  margin-bottom: 10px; }
.nst-testimonial-module img {
  margin-bottom: 30px; }

.nst-card {
  position: relative;
  width: 100%;
  border: 1px solid #AEAEAE;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 40px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .nst-card .ibm-h4 {
    line-height: 30px; }
  .nst-card.nst-padding-all-25 {
    padding: 25px; }
  .nst-card.nst-left-align {
    text-align: left; }
  .nst-card.nst-text-center {
    text-align: center; }
  .nst-card.nst-padding-20 {
    padding: 20px; }
  .learn-more .nst-card h4 {
    margin-bottom: 42px; }
  .nst-card .nst-bottom {
    position: absolute;
    bottom: 0; }
  .nst-card.hover {
    border-color: #4178BE;
    background-color: #4178BE;
    color: white; }
    .nst-card.hover a {
      color: white; }

.nst-appended-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.nst-contact-band {
  height: 100px;
  min-height: 100px; }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .nst-contact-band {
      height: 210px; }
      .nst-contact-band .ibm-col-5-3 {
        padding-top: 20px; }
      .nst-contact-band .ibm-col-5-2 {
        padding-top: 1px; }
      .nst-contact-band .nst-mobile-line:last-child {
        margin-top: 12px; } }
  @media only screen and (max-width: 999px) {
    .nst-contact-band .nst-contact-message-header {
      margin-top: 14px;
      padding-bottom: 5px; } }
  .nst-contact-band .nst-contact-list-header {
    display: inline-block; }
    @media only screen and (max-width: 999px) {
      .nst-contact-band .nst-contact-list-header {
        padding-bottom: 0;
        margin-top: 5px; } }
  .nst-contact-band .nst-phone, .nst-contact-band .nst-priority {
    color: #EFC100; }
  @media only screen and (max-width: 579px) {
    .nst-contact-band h3 {
      margin-top: 25px; } }

.nst-band-purple {
  background-color: #A6266E; }

ul.nst-social-list {
  margin-left: 40px;
  display: inline-block;
  padding: 0; }
  @media only screen and (max-width: 999px) {
    ul.nst-social-list {
      vertical-align: top; } }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .nst-contact-band ul.nst-social-list {
      display: block;
      margin-left: 0;
      margin-top: 10px; } }
  ul.nst-social-list li {
    vertical-align: top;
    display: inline-block;
    height: 40px;
    position: relative; }
    ul.nst-social-list li a {
      top: 0;
      line-height: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      ul.nst-social-list li a:hover {
        color: #cccccc; }
  ul.nst-social-list li + li {
    padding-top: 0; }

@media only screen and (max-width: 579px) {
  .ibm-landing-page .nst-full-width-gmobile {
    width: 100%; } }
@media only screen and (min-width: 580px) and (max-width: 759px) {
  .ibm-landing-page .nst-full-width-g540 {
    width: 520px; } }
@media only screen and (min-width: 580px) and (max-width: 759px) {
  .ibm-landing-page .nst-half-width-g540 {
    width: 250px; } }
@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-landing-page .nst-full-width-g720 {
    width: 700px; } }
@media only screen and (min-width: 580px) and (max-width: 759px) {
  .ibm-landing-page .nst-full-width-g720 {
    width: 520px; } }
@media only screen and (min-width: 760px) and (max-width: 999px) {
  .ibm-landing-page .nst-6-4-g720 {
    width: 460px; } }
@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-landing-page .nst-6-4-g960 {
    width: 620px; } }
@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-landing-page .nst-6-5-g960 {
    width: 780px; } }
@media only screen and (min-width: 1000px) and (max-width: 1239px) {
  .ibm-landing-page .nst-full-width-g960 {
    width: 940px; } }
@media only screen and (min-width: 1240px) and (max-width: 1479px) {
  .ibm-landing-page .nst-full-width-g1200 {
    width: 1180px; } }
@media only screen and (min-width: 1480px) {
  .ibm-landing-page .nst-full-width-g1440 {
    width: 100%; } }

@media only screen and (max-width: 579px) {
  .nst-stack-space-mobile {
    margin-bottom: 20px; } }

@media only screen and (max-width: 759px) {
  .nst-stack-space-g540 {
    margin-bottom: 20px; } }

@media only screen and (max-width: 999px) {
  .nst-icon-visible-g720.ibm-icon-nolink {
    padding-left: 0 !important; }
  .nst-icon-visible-g720:before {
    content: none; } }

@media only screen and (min-width: 0px) and (max-width: 579px) {
  .nst-mobile-line {
    display: block; } }

@media only screen and (max-width: 999px) {
  .nst-hidden-g720 {
    display: none; } }

.nst-tmpl-reference #ibm-leadspace-head {
  background-color: #971996;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 495px; }
  @media only screen and (min-width: 1480px) {
    .nst-tmpl-reference #ibm-leadspace-head {
      background-position: center 0; } }
  @media only screen and (min-width: 1240px) and (max-width: 1479px) {
    .nst-tmpl-reference #ibm-leadspace-head {
      background-position: calc(100%  + 500px) 0; } }
  @media only screen and (min-width: 1000px) and (max-width: 1239px) {
    .nst-tmpl-reference #ibm-leadspace-head {
      background-position: calc(100%  + 600px) 0; } }
  @media only screen and (min-width: 760px) and (max-width: 999px) {
    .nst-tmpl-reference #ibm-leadspace-head {
      background-position: calc(100%  + 700px) 0; } }
  @media only screen and (min-width: 580px) and (max-width: 759px) {
    .nst-tmpl-reference #ibm-leadspace-head {
      background-position: calc(100%  + 600px) 0; } }
  @media only screen and (min-width: 0px) and (max-width: 579px) {
    .nst-tmpl-reference #ibm-leadspace-head {
      background-position: calc(100%  + 700px) 0; } }
  .nst-tmpl-reference #ibm-leadspace-head .ibm-btn-row {
    margin-top: 20px; }

@media only screen and (max-width: 759px) {
  #ibm-content .nst-module__step-by-step .ibm-columns:last-child {
    padding-bottom: 52px; } }
