<legend class="color2" ng-show="data.setting.defi1.substyle">Definition1 / {{style[data.setting.defi1.type]}} / {{substyle[data.setting.defi1.substyle]}}</legend>
<legend class="color2" ng-show="!data.setting.defi1.substyle">Definition1</legend>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==1">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/Introduction1.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==2">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/Introduction2.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==3">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/Introduction3.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==4">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/Introduction4.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==5">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/Asset_promo1.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==6">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/Asset_promo2.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==7">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step1.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==8">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step2.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==9">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step3.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==10">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step4.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==11">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step5.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==12">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step6.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==13">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step7.jpg" alt="">
  </a>
</div>
<div class="col-md-8" ng-show="data.setting.defi1.substyle==14">
  <a class="thumbnail selected" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">
    <img src="../images/step8.jpg" alt="">
  </a>
</div>
<form class="col-md-3">
  <div class="form-group">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#defi1Modal" ng-click="getStyle()">Select style</button>
  </div>
</form>
<!--Introduction -->
<form class="form-horizontal col-md-12" ng-if="data.setting.defi1.type==1 && data.setting.defi1.substyle >= 1 && data.setting.defi1.substyle <= 4">
  <legend><small>Introduction</small></legend>
  <div class="form-group">
    <label class="col-sm-2 control-label">Subhead</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.intro.subhead">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Column 1</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" rows="8" ng-model="data.defi1.intro.column1"></textarea>
    </div>
  </div>
  <div ng-show="data.setting.defi1.substyle==2 || data.setting.defi1.substyle==4">
    <div class="form-group">
      <label class="col-sm-2 control-label">Column 2</label>
      <div class="col-sm-4">
        <select class="form-control" ng-model="introColCount">
          <option value="3">3 columns</option>
          <option value="4">4 columns</option>
          <option value="5">5 columns</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">#1</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.intro.column2[0]">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">#2</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.intro.column2[1]">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">#3</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.intro.column2[2]">
      </div>
    </div>
    <div class="form-group" ng-show="introColCount > 3">
      <label class="col-sm-2 control-label">#4</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.intro.column2[3]">
      </div>
    </div>
    <div class="form-group" ng-show="introColCount > 4">
      <label class="col-sm-2 control-label">#5</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.intro.column2[4]">
      </div>
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==4">
    <label class="col-sm-2 control-label">CTA Lead-in</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.intro.ctaLeadIn">
    </div>
  </div>
  <div ng-show="data.setting.defi1.substyle==3 || data.setting.defi1.substyle==4">
    <div class="form-group">
      <label class="col-sm-2 control-label">CTA Button Label</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.intro.cta">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">CTA Button URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.intro.ctaUrl">
      </div>
    </div>
  </div>
</form>
<!--Asset Promo Video -->
<form class="form-horizontal col-md-12" ng-if="data.setting.defi1.type==2 && data.setting.defi1.substyle > 4 && data.setting.defi1.substyle < 7">
  <legend><small>Asset Promo</small></legend>
  <div class="form-group">
    <label class="col-sm-2 control-label">Subhead</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.asset.subhead">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Body Copy</label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" rows="8" ng-model="data.defi1.asset.body"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">CTA Button Label</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.asset.cta">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">CTA Button URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.asset.ctaUrl">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==5">
    <label class="col-sm-2 control-label">Asset Image URL</label>
    <div class="col-sm-10" style="padding-top:10px;margin-left:-15px">
      <div class="col-sm-9" style="width:76%">
        <input type="text" class="form-control" ng-model="data.defi1.asset.imgUrl" ng-init="data.defi1.asset.imgUrl = data.defi1.asset.imgUrl===undefined?'':data.defi1.asset.imgUrl">
      </div>
      <button class="btn btn-primary pull-left" type="button" style="margin-right: 10px" data-toggle="modal" data-target="#UploadModal" data-loading-text="Uploading..." ng-click="setFieldIndex('defi1.asset')">Upload</button>
      <button class="btn btn-primary pull-left" type="button" data-toggle="modal" data-target="#RetrieveModal" ng-click="setFieldIndex('defi1.asset')">Retrieve</button>
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==5">
    <label class="col-sm-2 control-label">Asset Image Alternate Text</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.asset.imgAlt">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==6">
    <label class="col-sm-2 control-label">Video thumbnail URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.asset.videoUrl">
    </div>
  </div>
</form>
<!--Step by step  substyle 7~14-->
<form class="form-horizontal col-md-12" ng-if="data.setting.defi1.type==3 &&  data.setting.defi1.substyle >=7 && data.setting.defi1.substyle <= 14">
  <legend><small>Step by Step</small></legend>
  <div class="form-group">
    <label class="col-sm-2 control-label">Subhead</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.subhead">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==9 || data.setting.defi1.substyle==10 || data.setting.defi1.substyle==13 || data.setting.defi1.substyle==14">
    <label class="col-sm-2 control-label">CTA Lead-in</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.ctaLeadIn">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==9 || data.setting.defi1.substyle==10 || data.setting.defi1.substyle==13 || data.setting.defi1.substyle==14">
    <label class="col-sm-2 control-label">CTA Button Label</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.cta">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==9 || data.setting.defi1.substyle==10 || data.setting.defi1.substyle==13 || data.setting.defi1.substyle==14">
    <label class="col-sm-2 control-label">CTA Button URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.ctaUrl">
    </div>
  </div>
  <!-- Step 1 -->
  <div class="form-group">
    <legend class="col-sm-2 control-label stepDiv"><small style="font-size:80%">Step1</small></legend>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
    <label class="col-sm-2 control-label">Image Url</label>
    <div class="col-sm-10" style="padding-top:10px;margin-left:-15px">
      <div class="col-sm-9" style="width:76%">
        <input type="text" class="form-control" ng-model="data.defi1.step.step1.imgUrl" ng-init="data.defi1.step.step1.imgUrl=data.defi1.step.step1.imgUrl===undefined?'':data.defi1.step.step1.imgUrl">
      </div>
      <button class="btn btn-primary pull-left" type="button" style="margin-right: 10px" data-toggle="modal" data-target="#UploadModal" data-loading-text="Uploading..." ng-click="setFieldIndex('defi1.step.step1')">Upload</button>
      <button class="btn btn-primary pull-left" type="button" data-toggle="modal" data-target="#RetrieveModal" ng-click="setFieldIndex('defi1.step.step1')">Retrieve</button>
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
    <label class="col-sm-2 control-label">Image Alternate Text</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step1.imgAlt">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step1.title">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step1.desc">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
    <label class="col-sm-2 control-label">CTA Button Label</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step1.cta">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
    <label class="col-sm-2 control-label">CTA Button URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step1.ctaUrl">
    </div>
  </div>
  <!-- Step 2 -->
  <div class="form-group">
    <legend class="col-sm-2 control-label stepDiv"><small style="font-size:80%">Step2</small></legend>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
    <label class="col-sm-2 control-label">Image Url</label>
    <div class="col-sm-10" style="padding-top:10px;margin-left:-15px">
      <div class="col-sm-9" style="width:76%">
        <input type="text" class="form-control" ng-model="data.defi1.step.step2.imgUrl" ng-init="data.defi1.step.step2.imgUrl=data.defi1.step.step2.imgUrl===undefined?'':data.defi1.step.step2.imgUrl">
      </div>
      <button class="btn btn-primary pull-left" type="button" style="margin-right: 10px" data-toggle="modal" data-target="#UploadModal" data-loading-text="Uploading..." ng-click="setFieldIndex('defi1.step.step2')">Upload</button>
      <button class="btn btn-primary pull-left" type="button" data-toggle="modal" data-target="#RetrieveModal" ng-click="setFieldIndex('defi1.step.step2')">Retrieve</button>
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
    <label class="col-sm-2 control-label">Image Alternate Text</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step2.imgAlt">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step2.title">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step2.desc">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
    <label class="col-sm-2 control-label">CTA Button Label</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step2.cta">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
    <label class="col-sm-2 control-label">CTA Button URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step2.ctaUrl">
    </div>
  </div>
  <!-- Step 3 -->
  <div class="form-group">
    <legend class="col-sm-2 control-label stepDiv"><small style="font-size:80%">Step3</small></legend>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
    <label class="col-sm-2 control-label">Image Url</label>
    <div class="col-sm-10" style="padding-top:10px;margin-left:-15px">
      <div class="col-sm-9" style="width:76%">
        <input type="text" class="form-control" ng-model="data.defi1.step.step3.imgUrl" ng-init="data.defi1.step.step3.imgUrl=data.defi1.step.step3.imgUrl===undefined?'':data.defi1.step.step3.imgUrl">
      </div>
      <button class="btn btn-primary pull-left" type="button" style="margin-right: 10px" data-toggle="modal" data-target="#UploadModal" data-loading-text="Uploading..." ng-click="setFieldIndex('defi1.step.step3')">Upload</button>
      <button class="btn btn-primary pull-left" type="button" data-toggle="modal" data-target="#RetrieveModal" ng-click="setFieldIndex('defi1.step.step3')">Retrieve</button>
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
    <label class="col-sm-2 control-label">Image Alternate Text</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step3.imgAlt">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step3.title">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step3.desc">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
    <label class="col-sm-2 control-label">CTA Button Label</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step3.cta">
    </div>
  </div>
  <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
    <label class="col-sm-2 control-label">CTA Button URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.defi1.step.step3.ctaUrl">
    </div>
  </div>
  <!-- Step 4 -->
  <div ng-show="data.setting.defi1.substyle==8 || data.setting.defi1.substyle==10 || data.setting.defi1.substyle==12 || data.setting.defi1.substyle==14">
    <div class="form-group">
      <legend class="col-sm-2 control-label stepDiv"><small style="font-size:80%">Step4</small></legend>
    </div>
    <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
      <label class="col-sm-2 control-label">Image Url</label>
      <div class="col-sm-10" style="padding-top:10px;margin-left:-15px">
        <div class="col-sm-9" style="width:76%">
          <input type="text" class="form-control" ng-model="data.defi1.step.step4.imgUrl" ng-init="data.defi1.step.step4.imgUrl=data.defi1.step.step4.imgUrl===undefined?'':data.defi1.step.step4.imgUrl">
        </div>
        <button class="btn btn-primary pull-left" type="button" style="margin-right: 10px" data-toggle="modal" data-target="#UploadModal" data-loading-text="Uploading..." ng-click="setFieldIndex('defi1.step.step4')">Upload</button>
        <button class="btn btn-primary pull-left" type="button" data-toggle="modal" data-target="#RetrieveModal" ng-click="setFieldIndex('defi1.step.step4')">Retrieve</button>
      </div>
    </div>
    <div class="form-group" ng-show="data.setting.defi1.substyle>=7 && data.setting.defi1.substyle<=10">
      <label class="col-sm-2 control-label">Image Alternate Text</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.step.step4.imgAlt">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.step.step4.title">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.step.step4.desc">
      </div>
    </div>
    <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
      <label class="col-sm-2 control-label">CTA Button Label</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.step.step4.cta">
      </div>
    </div>
    <div class="form-group" ng-show="data.setting.defi1.substyle==7 || data.setting.defi1.substyle==8 || data.setting.defi1.substyle==11 || data.setting.defi1.substyle==12">
      <label class="col-sm-2 control-label">CTA Button URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="data.defi1.step.step4.ctaUrl">
      </div>
    </div>
  </div>
</form>
<!-- Pop up Box -->
<div class="modal fade" id="defi1Modal" tabindex="-1" role="dialog" aria-labelledby="defi1ModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-right">
          <label class="text-danger" ng-show="showWarning1">Please select a style.&nbsp;&nbsp;</label>
          <label class="text-danger" ng-show="showWarning2">Please select a substyle.&nbsp;&nbsp;</label>
          <button type="button" class="btn btn-warning" ng-show="tempSetting.type!=0" ng-click="tempSetting.type=0">Reselect style</button>
          <button type="button" class="btn btn-primary" ng-click="setStyle()">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <h4 class="modal-title">Module style</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" ng-show="tempSetting.type==0">
            <label>Select a style</label>
            <div class="row">
              <div class="col-md-10" ng-hide="data.setting.defi2.type==1">
                <a class="thumbnail" ng-class="{selected: tempSetting.type==1}" ng-click="tempSetting.type=1">
                  <img src="../images/style-introduction.jpg" alt="">
                </a>
              </div>
              <div class="col-md-10" ng-hide="data.setting.defi2.type==2">
                <a class="thumbnail" ng-class="{selected: tempSetting.type==2}" ng-click="tempSetting.type=2">
                  <img src="../images/style-asset.jpg" alt="">
                </a>
              </div>
              <div class="col-md-10" ng-hide="data.setting.defi2.type==3">
                <a class="thumbnail" ng-class="{selected: tempSetting.type==3}" ng-click="tempSetting.type=3">
                  <img src="../images/style-stepbystep.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div ng-show="tempSetting.type!=0" class="form-group">
            <label>Select a substyle</label>
            <div ng-show="tempSetting.type==1">
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==1}" ng-click="tempSetting.substyle=1">
                    <img src="../images/Introduction1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==2}" ng-click="tempSetting.substyle=2">
                    <img src="../images/Introduction2.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==3}" ng-click="tempSetting.substyle=3">
                    <img src="../images/Introduction3.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==4}" ng-click="tempSetting.substyle=4">
                    <img src="../images/Introduction4.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div ng-show="tempSetting.type==2">
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==5}" ng-click="tempSetting.substyle=5">
                    <img src="../images/Asset_promo1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==6}" ng-click="tempSetting.substyle=6">
                    <img src="../images/Asset_promo2.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div ng-show="tempSetting.type==3">
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==7}" ng-click="tempSetting.substyle=7">
                    <img src="../images/step1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==8}" ng-click="tempSetting.substyle=8">
                    <img src="../images/step2.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==9}" ng-click="tempSetting.substyle=9">
                    <img src="../images/step3.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==10}" ng-click="tempSetting.substyle=10">
                    <img src="../images/step4.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==11}" ng-click="tempSetting.substyle=11">
                    <img src="../images/step5.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==12}" ng-click="tempSetting.substyle=12">
                    <img src="../images/step6.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==13}" ng-click="tempSetting.substyle=13">
                    <img src="../images/step7.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==14}" ng-click="tempSetting.substyle=14">
                    <img src="../images/step8.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
