<div class="col-md-12" style="margin-left:50px">
  <legend class="color2">Definition</legend>
  <form class="col-md-5">
    <div class="form-group">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Choose style</button>
    </div>
  </form>
  <!--Introduction -->
  <form class="form-horizontal" ng-if="mySetting.type==1 && mySetting.substyle >= 1 && mySetting.substyle <= 4">
    <legend><small>Introduction</small></legend>
    <div class="form-group">
      <label class="col-sm-2 control-label">Subhead</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="intro.subhead">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Column 1</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" rows="8" ng-model="intro.column1"></textarea>
      </div>
    </div>
    <div ng-show="mySetting.substyle==2 || mySetting.substyle==4">
      <div class="form-group">
        <label class="col-sm-2 control-label">Column 2</label>
        <div class="col-sm-10">
          <select class="form-control" ng-model="introColCount">
            <option value="3">3 columns</option>
            <option value="4">4 columns</option>
            <option value="5">5 columns</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">#1</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">#2</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">#3</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group" ng-show="introColCount > 3">
        <label class="col-sm-2 control-label">#4</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group" ng-show="introColCount > 4">
        <label class="col-sm-2 control-label">#5</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="mySetting.substyle==4">
      <label class="col-sm-2 control-label">CTA Lead-in</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="intro.ctaLeadIn">
      </div>
    </div>
    <div ng-show="mySetting.substyle==3 || mySetting.substyle==4">
      <div class="form-group">
        <label class="col-sm-2 control-label">CTA Button</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="intro.cta">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">CTA URL</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="intro.ctaUrl">
        </div>
      </div>
    </div>
  </form>
  <!--Asset Promo Video -->
  <form class="form-horizontal" ng-if="mySetting.type==2 && mySetting.substyle > 4 && mySetting.substyle < 7">
    <legend><small>Asset Promo</small></legend>
    <div class="form-group">
      <label class="col-sm-2 control-label">Subhead</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="asset.subhead">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Body Copy</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" rows="8" ng-model="asset.body"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">CTA Button</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="asset.cta">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">CTA URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="asset.ctaUrl">
      </div>
    </div>
    <div class="form-group" ng-show="mySetting.substyle==5">
      <label class="col-sm-2 control-label">Asset Image URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="asset.imgUrl">
      </div>
    </div>
    <div class="form-group" ng-show="mySetting.substyle==6">
      <label class="col-sm-2 control-label">Video thumbnail URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="asset.videoUrl">
      </div>
    </div>
  </form>
  <!--Step by step-->
  <form class="form-horizontal" ng-if="mySetting.type==3 &&  mySetting.substyle > 6 && mySetting.substyle < 15">
    <legend><small>Step by Step</small></legend>
    <label>Subhead</label>
    <input type="text" class="form-control" ng-model="step.subhead">
    <div class="col-md-4">
      <legend><small style="font-size:80%">Step1</small></legend>
      <label>Image Url</label>
      <input type="text" class="form-control" ng-model="step.step1.imgUrl">
      <label>Step Title</label>
      <input type="text" class="form-control" ng-model="step.step1.title">
      <label>Step Description</label>
      <input type="text" class="form-control" ng-model="step.step1.desc">
      <label>Step CTA Content</label>
      <input type="text" class="form-control" ng-model="step.step1.cta">
      <label>Step CTA Image URL</label>
      <input type="text" class="form-control" ng-model="step.step1.ctaUrl">
    </div>
    <div class="col-md-4">
      <legend><small style="font-size:80%">Step2</small></legend>
      <label>Image Url</label>
      <input type="text" class="form-control" ng-model="step.step2.imgUrl">
      <label>Step Title</label>
      <input type="text" class="form-control" ng-model="step.step2.title">
      <label>Step Description</label>
      <input type="text" class="form-control" ng-model="step.step2.desc">
      <label>Step CTA Content</label>
      <input type="text" class="form-control" ng-model="step.step2.cta">
      <label>Step CTA Image URL</label>
      <input type="text" class="form-control" ng-model="step.step2.ctaUrl">
    </div>
    <div class="col-md-4">
      <legend><small style="font-size:80%">Step3</small></legend>
      <label>Image Url</label>
      <input type="text" class="form-control" ng-model="step.step3.imgUrl">
      <label>Step Title</label>
      <input type="text" class="form-control" ng-model="step.step3.title">
      <label>Step Description</label>
      <input type="text" class="form-control" ng-model="step.step3.desc">
      <label>Step CTA Content</label>
      <input type="text" class="form-control" ng-model="step.step3.cta">
      <label>Step CTA Image URL</label>
      <input type="text" class="form-control" ng-model="step.step3.ctaUrl">
    </div>
  </form>
</div>
<!-- Pop up Box -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="pull-right">
          <label class="text-danger" ng-show="showWarning">Please Choose a substyle.&nbsp;&nbsp;</label>
          <button type="button" class="btn btn-primary" ng-click="setStyle()">OK</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <h4 class="modal-title" id="myModalLabel">Module style</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Choose a style</label>
            <div class="row">
              <div class="col-md-10">
                <a class="thumbnail" ng-class="{selected: tempSetting.type==1}" ng-click="tempSetting.type=1">
                  <img src="../images/style-introduction.jpg" alt="">
                </a>
              </div>
              <div class="col-md-10">
                <a class="thumbnail" ng-class="{selected: tempSetting.type==2}" ng-click="tempSetting.type=2">
                  <img src="../images/style-asset.jpg" alt="">
                </a>
              </div>
              <div class="col-md-10">
                <a class="thumbnail" ng-class="{selected: tempSetting.type==3}" ng-click="tempSetting.type=3">
                  <img src="../images/style-stepbystep.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div ng-show="tempSetting.type==1||tempSetting.type==2||tempSetting.type==3" class="form-group">
            <label>Choose a substyle below</label>
            <div ng-show="tempSetting.type==1">
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==1}" ng-click="tempSetting.substyle=1">
                    <img src="../images/Introduction1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==2}" ng-click="tempSetting.substyle=2">
                    <img src="../images/Introduction2.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==3}" ng-click="tempSetting.substyle=3">
                    <img src="../images/Introduction3.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==4}" ng-click="tempSetting.substyle=4">
                    <img src="../images/Introduction4.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div ng-show="tempSetting.type==2">
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==5}" ng-click="tempSetting.substyle=5">
                    <img src="../images/Asset_promo1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==6}" ng-click="tempSetting.substyle=6">
                    <img src="../images/Asset_promo2.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div ng-show="tempSetting.type==3">
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==7}" ng-click="tempSetting.substyle=7">
                    <img src="../images/step1.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==8}" ng-click="tempSetting.substyle=8">
                    <img src="../images/step2.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==9}" ng-click="tempSetting.substyle=9">
                    <img src="../images/step3.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==10}" ng-click="tempSetting.substyle=10">
                    <img src="../images/step4.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==11}" ng-click="tempSetting.substyle=11">
                    <img src="../images/step5.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==12}" ng-click="tempSetting.substyle=12">
                    <img src="../images/step6.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==13}" ng-click="tempSetting.substyle=13">
                    <img src="../images/step7.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <a class="thumbnail" ng-class="{selected: tempSetting.substyle==14}" ng-click="tempSetting.substyle=14">
                    <img src="../images/step8.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
