<form name="form" id="info" class="container col-md-12" style="margin-left:50px">
  <div class="form-group">
    <legend class="color1">LeadSpace</legend>
    <label>Title</label>
    <input type="text" class="form-control" ng-model="data.leadspace.headline">
    <label>Description</label>
    <textarea type="text" class="form-control" ng-model="data.leadspace.subhead"></textarea>
    <label>Image URL</label>
    <input type="text" class="form-control" ng-model="data.leadspace.imgUrl">
    <label>Call To Action</label>
    <input type="text" class="form-control" ng-model="data.leadspace.cat">
    <label>Call To Action URL</label>
    <input type="text" class="form-control" ng-model="data.leadspace.catUrl">
  </div>
</form>
