<legend class="color1" ng-show="data.setting.lead">LeadSpace / {{substyle[data.setting.lead]}}</legend>
<legend class="color1" ng-show="!data.setting.lead">LeadSpace</legend>
<div class="col-md-6">
  <a class="thumbnail" ng-class="{selected: data.setting.lead==1}" ng-click="data.setting.lead=1">
    <img src="../images/leadspace-substyle-image.jpg" alt="">
  </a>
</div>
<div class="col-md-6">
  <a class="thumbnail" ng-class="{selected: data.setting.lead==2}" ng-click="data.setting.lead=2">
    <img src="../images/leadspace-substyle-video.jpg" alt="">
  </a>
</div>
<div class="col-md-6">
  <a class="thumbnail" ng-class="{selected: data.setting.lead==3}" ng-click="data.setting.lead=3">
    <img src="../images/leadspace-substyle-image-small.jpg" alt="">
  </a>
</div>
<form ng-show="data.setting.lead==1 || data.setting.lead==2 || data.setting.lead==3" class="col-md-12">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" ng-model="data.lead.headline">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea type="text" class="form-control" ng-model="data.lead.subhead" rows="3"></textarea>
  </div>
  <div class="form-group" ng-if="data.setting.lead==1 || data.setting.lead==3">
    <label>Image URL</label>
      <div>
        <input type="text" class="form-control" ng-model="data.lead.imgUrl" ng-init="data.lead.imgUrl=data.lead.imgUrl===undefined?'':data.lead.imgUrl" style="width:78%; display: inline-block;margin-right:10px">
        <button class="btn btn-primary" type="button" style="margin-right: 10px" data-toggle="modal" data-target="#UploadModal" id="uploadBtn" data-loading-text="Uploading..." ng-click="setFieldIndex('lead');UploadProjectFolder()">Upload</button>
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#RetrieveModal" ng-click="setFieldIndex('lead');filterProjectFolder()">Retrieve</button>
      </div>
  </div>
  <div class="form-group" ng-if="data.setting.lead==2">
    <label>Video URL</label>
    <input type="text" class="form-control" ng-model="data.lead.videoUrl">
  </div>
  <div class="form-group">
    <label>CTA Button Label</label>
    <input type="text" class="form-control" ng-model="data.lead.cat">
  </div>
  <div class="form-group">
    <label>CTA Button URL</label>
    <input type="text" class="form-control" ng-model="data.lead.catUrl">
  </div>
</form>
