<legend class="color1">Manage</legend>
<h4>Top Level Folder</h4>
<div class="col-md-8">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in folderData">{{item.name}}</li>
        <li class="list-group-item">
            <div class="input-group">
                <input type="text" class="form-control" maxlength="20" ng-model="tarFolder"/>
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="addFolder()" ng-disabled="!tarFolder"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
            </div>
        </li>
    </ul>
</div>
<div class="modal fade" id="folderModal" tabindex="-1" role="dialog" aria-labelledby="folderModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Please input the password</h4>
    </div>
      <div class="modal-body">
        <div class="container-fluid">
          <label class="col-md-2 control-label"></label>
          <div class="col-md-8">
            <input type="password" class="form-control" ng-model="password" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="width:20%" ng-disabled="!password" ng-click="check()">OK</button>
      </div>
    </div>
  </div>
</div>
