<legend class="color5">Meta Data</legend>
<form class="form-horizontal col-md-12">
  <div class="form-group">
    <label class="col-sm-2 control-label">Keywords</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.keywords">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.description"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.title"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Industry</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.industry"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Version</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.version"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Publisher</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.publisher"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Country</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.country"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Content Type</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.type"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Content Delivery</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.delivery"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Content Producer</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.producer"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Owner Email Address</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.owner"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">IBM Locale</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.locale"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Default View</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.view"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Subjects</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.subjects"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Destination</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.destination"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Account Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.account"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Rep ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.rep"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Publish Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.publishdate"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Expiry Date</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.expirydate"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Site ID</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.site"></input>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">IBM.WTMCategory</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="data.meta.category"></input>
    </div>
  </div>
</form>
