<link href="css/bootstrap.min.css" rel="stylesheet">
<form name="form" id="info" class="container">
  <!--<div class="checkbox">
    <legend>Choose seactions</legend>
    <label class="checkbox-inline">
      <input type="checkbox"> Introduction
    </label>
    <label class="checkbox-inline">
      <input type="checkbox"> Asset promo
    </label>
    <label class="checkbox-inline">
      <input type="checkbox"> Step by step
    </label>
  </div>-->
  <div class="form-group">
    <legend class="color1">LeadSpace</legend>
    <label>Title</label>
    <input type="text" class="form-control" ng-model="leadspace.headline">
    <label>Description</label>
    <textarea type="text" class="form-control" ng-model="leadspace.subhead"></textarea>
    <label>Image URL</label>
    <input type="text" class="form-control" ng-model="leadspace.imgUrl">
    <label>Call To Action</label>
    <input type="text" class="form-control" ng-model="leadspace.cat">
    <label>Call To Action URL</label>
    <input type="text" class="form-control" ng-model="leadspace.catUrl">
  </div>
  <div class="form-group">
    <legend class="section color2">Definition</legend>
    <div class="col-md-6">
      <legend><small>Introduction</small></legend>
      <label>Subhead</label>
      <input type="text" class="form-control" ng-model="intro.subhead">
      <label>Column 1</label>
      <textarea type="text" class="form-control" rows="5" ng-model="intro.column1"></textarea>
      <label>CTA Lead-in</label>
      <input type="text" class="form-control" ng-model="intro.ctaLeadIn">
      <label>CTA Button</label>
      <input type="text" class="form-control" ng-model="intro.cta">
      <label>CTA URL</label>
      <input type="text" class="form-control" ng-model="intro.ctaUrl">
    </div>
    <div class="col-md-6">
      <legend><small>Asset Promo</small></legend>
      <label>Subhead</label>
      <input type="text" class="form-control" ng-model="asset.subhead">
      <label>Body Copy</label>
      <textarea type="text" class="form-control" rows="5" ng-model="asset.body"></textarea>
      <label>CTA Button</label>
      <input type="text" class="form-control" ng-model="asset.cta">
      <label>CTA URL</label>
      <input type="text" class="form-control" ng-model="asset.ctaUrl">
      <label>Asset Image URL</label>
      <input type="text" class="form-control" ng-model="asset.imgUrl">
    </div>
    <div class="col-md-12">
      <legend><small>Step by Step</small></legend>
      <label>Subhead</label>
      <input type="text" class="form-control" ng-model="step.subhead">
      <div class="col-md-4">
        <legend><small style="font-size:80%">Step1</small></legend>
        <label>Image Url</label>
        <input type="text" class="form-control" ng-model="step.step1.imgUrl">
        <label>Step Title</label>
        <input type="text" class="form-control" ng-model="step.step1.title">
        <label>Step Description</label>
        <input type="text" class="form-control" ng-model="step.step1.desc">
        <label>Step CTA Content</label>
        <input type="text" class="form-control" ng-model="step.step1.cta">
        <label>Step CTA Image URL</label>
        <input type="text" class="form-control" ng-model="step.step1.ctaUrl">
      </div>
      <div class="col-md-4">
        <legend><small style="font-size:80%">Step2</small></legend>
        <label>Image Url</label>
        <input type="text" class="form-control" ng-model="step.step2.imgUrl">
        <label>Step Title</label>
        <input type="text" class="form-control" ng-model="step.step2.title">
        <label>Step Description</label>
        <input type="text" class="form-control" ng-model="step.step2.desc">
        <label>Step CTA Content</label>
        <input type="text" class="form-control" ng-model="step.step2.cta">
        <label>Step CTA Image URL</label>
        <input type="text" class="form-control" ng-model="step.step2.ctaUrl">
      </div>
      <div class="col-md-4">
        <legend><small style="font-size:80%">Step3</small></legend>
        <label>Image Url</label>
        <input type="text" class="form-control" ng-model="step.step3.imgUrl">
        <label>Step Title</label>
        <input type="text" class="form-control" ng-model="step.step3.title">
        <label>Step Description</label>
        <input type="text" class="form-control" ng-model="step.step3.desc">
        <label>Step CTA Content</label>
        <input type="text" class="form-control" ng-model="step.step3.cta">
        <label>Step CTA Image URL</label>
        <input type="text" class="form-control" ng-model="step.step3.ctaUrl">
      </div>
    </div>
  </div>
  <div class="form-group">
    <legend class="section color3">Discovery</legend>
    <legend><small>Related resources</small></legend>
    <label>Subhead</label>
    <input type="text" class="form-control" ng-model="related.subhead">
    <div class="col-md-4">
      <legend><small style="font-size:80%">Related1</small></legend>
      <label>Related Body</label>
      <input type="text" class="form-control" ng-model="related.relat1.body">
      <label>Related CTA Content</label>
      <input type="text" class="form-control" ng-model="related.relat1.cta">
      <label>Related CTA Image URL</label>
      <input type="text" class="form-control" ng-model="related.relat1.ctaUrl">
    </div>
    <div class="col-md-4">
      <legend><small style="font-size:80%">Related2</small></legend>
      <label>Related Body</label>
      <input type="text" class="form-control" ng-model="related.relat2.body">
      <label>Related CTA Content</label>
      <input type="text" class="form-control" ng-model="related.relat2.cta">
      <label>Related CTA Image URL</label>
      <input type="text" class="form-control" ng-model="related.relat2.ctaUrl">
    </div>
    <div class="col-md-4">
      <legend><small style="font-size:80%">Related3</small></legend>
      <label>Related Body</label>
      <input type="text" class="form-control" ng-model="related.relat3.body">
      <label>Related CTA Content</label>
      <input type="text" class="form-control" ng-model="related.relat3.cta">
      <label>Related CTA Image URL</label>
      <input type="text" class="form-control" ng-model="related.relat3.ctaUrl">
    </div>
  </div>
  </div>
  <div class="form-group">
    <legend class="section color4">Contact</legend>
    <label>Phone Number</label>
    <input type="text" class="form-control" ng-model="contact.phone">
    <label>Priority COde</label>
    <input type="text" class="form-control" ng-model="contact.priority"></input>
  </div>
  <div class="form-group">
    <a class="btn btn-success" ng-href="#/myPage" ng-click="submit()">Creat Page</a>
  </div>
</form>
