<div id="wrapper">
  <div id="ColumnContainer">
    <nav class="navbar navbar-default col-md-10">
      <div class="collapse navbar-collapse">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Page Builder</a>
        </div>
        <div class="collapse navbar-collapse navbar-left">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <select class="form-control" ng-model="currentData"  ng-options="option.name for option in settingData">
              <option value="">Select a template</option>
              </select>
              </span>
            </div>
            <div class="form-group">
              <button class="btn btn-warning form-group" ng-disabled="noChange" ng-click="load()">Load</button>
              <button class="btn btn-success form-group" id="saveBtn" ng-disabled="noChange" data-loading-text="Saving..." ng-click="save()">Save</button>
            </div>
          </form>
        </div>
        <div class="nav navbar-nav navbar-right">
          <button class="btn btn-danger navbar-btn" id="createBtn" data-loading-text="Creating..." ng-click="createPage()">Create Page</button>
        </div>
      </div>
    </nav>
    <div class="col-md-10  pull-left" style="margin-right:20px">
      <ul class="nav nav-pills nav-stacked pull-left" style="width:130px">
        <li ng-class="{active:currentPage==0}"><a ng-href="/setting/leadspace" ng-click="currentPage=0" ui-sref="setting.leadspace">Leadspace*</a></li>
        <li ng-class="{active:currentPage==1}"><a ng-href="/setting/definition1" ng-click="currentPage=1" ui-sref="setting.definition1">Definition1*</a></li>
        <li ng-class="{active:currentPage==2}"><a ng-href="/setting/definition2" ng-click="currentPage=2" ui-sref="setting.definition2">Definition2</a></li>
        <li ng-class="{active:currentPage==3}"><a ng-href="/setting/promotion1" ng-click="currentPage=3" ui-sref="setting.promotion1">Promotion1</a></li>
        <li ng-class="{active:currentPage==4}"><a ng-href="/setting/promotion2" ng-click="currentPage=4" ui-sref="setting.promotion2">Promotion2</a></li>
        <li ng-class="{active:currentPage==5}"><a ng-href="/setting/promotion3" ng-click="currentPage=5" ui-sref="setting.promotion3">Promotion3</a></li>
        <li ng-class="{active:currentPage==6}"><a ng-href="/setting/discovery" ng-click="currentPage=6" ui-sref="setting.discovery">Discovery*</a></li>
        <li ng-class="{active:currentPage==7}"><a ng-href="/setting/contact" ng-click="currentPage=7" ui-sref="setting.contact">Contact</a></li>
      </ul>
      <div ui-view class="col-md-10 pull-left"></div>
    </div>
  </div>
</div>
